<div class="fashion-nav-footer__security">
  <h4 class="fashion-nav-footer__categories-title">Segurança</h4>
  <div class="content-security-logos">
    <a href="https://transparencyreport.google.com/safe-browsing/search?url=https:%2F%2Fwww.lashops.com.br"
      target="_blank">
      <img src="https://i.postimg.cc/Jnk93Gkh/Google-Safe-Browsing.webp" alt="Google Safe Browsing" loading="lazy">
    </a>

    <a href="#">
      <img src="https://i.postimg.cc/prdKbnJW/Zero-SSL.webp" alt="Zero SSL" loading="lazy">
    </a>

    <a href="https://loja.mercadolivre.com.br/laribaby" target="_blank">
      <img src="https://i.imgur.com/D8aeVtu.png" alt="Loja Oficial" loading="lazy">
    </a>
  </div>
</div>