<div class="formas-pagamentos">
  <div class="fashion-nav-footer__categories-title-container">
            <h4 class="fashion-nav-footer__categories-title header--custom-text">Formas de Pagamento</h4>
            
          </div>
  
  <span>
    <svg version="1.1" id="svg2477" xmlns="http://www.w3.org/2000/svg" x="0" y="0" viewBox="0 0 1000 260.6"
      style="enable-background: new 0 0 1000 260.6" xml:space="preserve">
      <style>
        .st0 {
          fill: #28316b !important;
        }

        .st1 {
          fill: #50b4e9 !important;
        }

        .st2 {
          fill: #fff;
        }

        .st3 {
          fill: #fff;
        }
      </style>
      <g id="layer1" transform="translate(-14.48 -12.468)">
        <g id="g1222" transform="matrix(2.447 0 0 -2.447 79.174 33.624)">
          <path id="path1224" class="st0"
            d="M123.2-40.3c0 27-33.5 48.9-74.8 48.9s-74.8-22-74.8-48.9v-2.9C-26.4-71.8 2.9-95 48.4-95c45.8 0 74.8 23.2 74.8 51.8v2.9z">
          </path>
        </g>
        <g id="g1226" transform="matrix(2.447 0 0 -2.447 77.933 33.615)">
          <path id="path1228" class="st1"
            d="M120.9-40.3c0-25.4-32.2-46-71.9-46-39.8 0-72 20.6-72 46s32.2 46 71.9 46c39.8.1 72-20.6 72-46"></path>
        </g>
        <g id="g1230" transform="matrix(2.447 0 0 -2.447 36.507 27.337)">
          <path id="path1232" class="st2"
            d="M42-28.3c0-.1-.8-.8-.3-1.4 1.1-1.5 4.6-2.3 8.2-1.5 2.1.5 4.8 2.6 7.4 4.7 2.8 2.3 5.7 4.5 8.5 5.4 3 1 4.9.5 6.2.2 1.4-.4 3-1.3 5.6-3.3 4.9-3.7 24.7-21 28.1-24 2.8 1.2 15 6.5 31.6 10.2-1.4 8.9-6.8 17-15 23.6C111-19.2 97-21.7 83.4-15c-.1 0-7.4 3.5-14.7 3.3-10.8-.2-15.5-4.9-20.5-9.9L42-28.3z">
          </path>
        </g>
        <g id="g1234" transform="matrix(2.447 0 0 -2.447 63.741 36.74)">
          <path id="path1236" class="st2"
            d="M93.8-46.2c-.2.2-23.2 20.3-28.5 24.3-3 2.3-4.7 2.8-6.5 3.1-.9.1-2.2-.1-3.1-.3-2.4-.7-5.6-2.8-8.4-5-2.9-2.3-5.7-4.5-8.2-5.1-3.3-.7-7.2.1-9.1 1.4-.7.5-1.3 1.1-1.5 1.6-.7 1.6.6 2.8.8 3l6.4 6.9 2.2 2.2c-2-.3-3.9-.8-5.8-1.3-2.3-.7-4.5-1.3-6.8-1.3-.9 0-5.9.8-6.9 1.1C12.7-14.1 7.7-12.5.1-9c-9-6.7-15.1-15.1-16.8-24.4 1.3-.3 3.4-1 4.3-1.2 20.5-4.6 26.8-9.2 28-10.2 1.3 1.4 3.1 2.3 5.1 2.3 2.3 0 4.3-1.1 5.5-2.9 1.2.9 2.8 1.7 4.9 1.7.9 0 1.9-.2 2.9-.5 2.3-.8 3.5-2.3 4.1-3.7.8.4 1.7.6 2.8.6 1.1 0 2.3-.2 3.4-.7 3.8-1.6 4.4-5.3 4-8.1h.8c4.5 0 8.1-3.6 8.1-8.1 0-1.4-.4-2.7-1-3.8 1.2-.7 4.3-2.2 7-1.9 2.2.3 3 1 3.3 1.4.2.3.4.6.2.9l-5.8 6.4s-1 .9-.6 1.2c.3.4.9-.2 1.3-.5 2.9-2.5 6.5-6.2 6.5-6.2.1 0 .3-.5 1.6-.7 1.1-.2 3.2-.1 4.6 1.1.4.3.7.7 1 1l-.1-.1c1.5 1.9-.2 3.8-.2 3.8L68.5-54s-1 .9-.6 1.3c.3.3.9-.2 1.3-.5 2.1-1.8 5.2-4.8 8-7.6.6-.4 3.1-2 6.5.2 2 1.3 2.4 3 2.4 4.2-.1 1.6-1.4 2.8-1.4 2.8l-9.2 9.2s-1 .8-.6 1.3c.3.4.9-.2 1.3-.5 2.9-2.5 10.9-9.7 10.9-9.7.1-.1 2.9-2 6.2.1 1.2.8 2 1.9 2.1 3.3.1 2.3-1.6 3.7-1.6 3.7">
          </path>
        </g>
        <g id="g1238" transform="matrix(2.447 0 0 -2.447 44.44 41.811)">
          <path id="path1240" class="st2"
            d="M57.1-55.9c-1.4 0-3-.8-3.2-.7-.1.1.1.6.2 1 .1.3 2 6-2.6 7.9-3.5 1.5-5.6-.2-6.4-1-.2-.2-.3-.2-.3.1-.1 1-.5 3.8-3.5 4.7-4.3 1.3-7.1-1.7-7.8-2.8-.3 2.5-2.4 4.4-4.9 4.4-2.8 0-5-2.2-5-5s2.2-5 5-5c1.3 0 2.6.5 3.5 1.4v-.2c-.2-1.2-.6-5.8 4.1-7.6 1.9-.7 3.5-.2 4.8.8.4.3.5.2.4-.2-.2-1.2 0-3.6 3.5-5.1 2.6-1.1 4.2 0 5.2 1 .4.4.6.3.6-.3.1-3.4 2.9-6 6.3-6 3.5 0 6.3 2.8 6.3 6.3.1 3.5-2.7 6.3-6.2 6.3">
          </path>
        </g>
        <g id="g1242" transform="matrix(2.447 0 0 -2.447 44.44 47.076)">
          <path id="path1244" class="st0"
            d="M57.1-65.9c-3.2 0-5.7 2.5-5.8 5.6 0 .3 0 1-.6 1-.2 0-.5-.1-.7-.4-.8-.7-1.7-1.3-3-1.3-.6 0-1.2.1-1.9.4-3.3 1.4-3.4 3.7-3.2 4.6 0 .2 0 .5-.1.7l-.2.2h-.2c-.2 0-.4-.1-.6-.2-1-.7-1.9-1-2.8-1-.5 0-1 .1-1.6.3-4.4 1.7-4 5.9-3.8 7.1 0 .3 0 .4-.2.6l-.4.2-.3-.3c-.9-.8-2-1.3-3.2-1.3-2.5 0-4.6 2-4.6 4.6s2.1 4.6 4.6 4.6c2.3 0 4.2-1.7 4.5-4l.2-1.2.7 1c.1.1 1.9 2.9 5.3 2.9.6 0 1.3-.1 2-.3 2.7-.8 3.2-3.3 3.2-4.3.1-.6.5-.6.6-.6.2 0 .4.1.5.3.5.5 1.6 1.4 3.4 1.4.8 0 1.6-.2 2.5-.6 4.3-1.8 2.3-7.3 2.3-7.4-.4-.9-.4-1.3 0-1.5l.2-.1h.1c.2 0 .4.1.8.2.6.2 1.5.5 2.3.5 3.2 0 5.9-2.7 5.9-5.9-.1-3.2-2.7-5.8-5.9-5.8m45.5 26.3c-7.1 6.2-23.5 20.5-27.9 23.8-2.5 1.9-4.3 2.9-5.8 3.4-.7.2-1.7.4-2.9.4-1.1 0-2.3-.2-3.6-.6-2.9-.9-5.7-3.2-8.5-5.4l-.1-.1c-2.6-2-5.2-4.2-7.3-4.6-.9-.2-1.8-.3-2.7-.3-2.3 0-4.3.7-5 1.6-.1.2 0 .4.2.8v.1l6.2 6.7c4.9 4.9 9.5 9.5 20.1 9.8h.5c6.6 0 13.2-3 14-3.3 6.2-3 12.6-4.6 19.1-4.6 6.7 0 13.6 1.7 20.9 5-.8.7-1.7 1.3-2.5 2C111-7.7 104.9-9.1 99-9.1c-6 0-12 1.5-17.8 4.3-.3.1-7.6 3.6-15.2 3.6h-.6c-8.9-.2-14-3.4-17.3-6.2-3.3-.1-6.1-.9-8.7-1.6-2.3-.6-4.2-1.2-6.1-1.2-.8 0-2.2.1-2.3.1C28.8-10 17.8-7.3 9-4c-.9-.6-1.8-1.3-2.6-2 9.1-3.7 20.3-6.6 23.8-6.9 1-.1 2-.2 3.1-.2 2.3 0 4.6.7 6.9 1.3 1.3.4 2.8.8 4.3 1.1l-1.2-1.2-6.3-6.9c-.5-.5-1.6-1.9-.9-3.5.3-.7.9-1.3 1.7-1.9 1.5-1 4.2-1.7 6.7-1.7 1 0 1.9.1 2.7.3 2.7.6 5.4 2.8 8.4 5.2 2.4 1.9 5.7 4.2 8.3 4.9.7.2 1.6.3 2.3.3h.6c1.7-.2 3.3-.8 6.3-3 5.2-3.9 28.3-24.1 28.5-24.3 0 0 1.5-1.3 1.4-3.4-.1-1.2-.7-2.2-1.8-2.9-1-.6-2-.9-3-.9-1.5 0-2.6.7-2.7.8-.1.1-8 7.3-10.9 9.7-.5.4-.9.7-1.4.7-.2 0-.5-.1-.6-.3-.5-.6.1-1.3.7-1.9l9.2-9.3s1.1-1.1 1.3-2.5c.1-1.5-.7-2.8-2.2-3.8-1.1-.7-2.2-1.1-3.3-1.1-1.4 0-2.4.6-2.6.8l-1.3 1.3c-2.4 2.4-4.9 4.8-6.7 6.4-.7.5-1.2.9-1.7.9-.2 0-.4-.1-.6-.2-.2-.2-.4-.6.2-1.3.2-.3.5-.5.5-.5l6.7-7.6c.1-.1 1.4-1.7.1-3.2l-.2-.3-.6-.6c-1.1-.9-2.7-1-3.3-1-.3 0-.6 0-.9.1-.7.1-1.1.3-1.3.6l-.1.1c-.4.4-3.8 3.8-6.6 6.2-.4.3-.8.7-1.3.7-.2 0-.4-.1-.6-.3-.6-.6.3-1.5.6-1.9l5.7-6.3c0-.1-.1-.2-.2-.4-.2-.3-.9-1-3-1.2h-.8c-2.2 0-4.4 1-5.6 1.7.5 1.1.8 2.4.8 3.6 0 4.7-3.8 8.6-8.6 8.6h-.3c.2 2.2-.1 6.2-4.3 8-1.2.5-2.4.8-3.6.8-.9 0-1.8-.2-2.6-.5-.9 1.7-2.3 2.9-4.2 3.6-.9.1-1.9.3-3 .3-1.7 0-3.4-.5-4.8-1.5-1.4 1.7-3.5 2.7-5.6 2.7-1.9 0-3.7-.8-5.1-2.1-1.8 1.4-8.9 5.9-27.8 10.2-.9.2-3 .8-4.3 1.2-.2-1-.4-2.1-.5-3.1 0 0 3.5-.8 4.2-1 19.4-4.3 25.8-8.8 26.9-9.6-.4-.9-.6-1.8-.6-2.8 0-4 3.3-7.3 7.3-7.3.4 0 .9 0 1.3.1.6-2.9 2.5-5.2 5.5-6.3.9-.3 1.7-.5 2.6-.5.6 0 1.1.1 1.7.2.5-1.4 1.8-3.1 4.5-4.2 1-.4 1.9-.6 2.9-.6.8 0 1.5.1 2.2.4 1.3-3.2 4.4-5.3 7.9-5.3 2.3 0 4.5.9 6.1 2.6 1.4-.8 4.3-2.2 7.2-2.2.4 0 .7 0 1.1.1 2.9.4 4.3 1.5 4.9 2.4.1.2.2.3.3.5.7-.2 1.4-.4 2.3-.4 1.6 0 3.1.5 4.7 1.7 1.5 1.1 2.6 2.7 2.8 4v.1c.5-.1 1-.2 1.6-.2 1.7 0 3.3.5 4.8 1.5 3 2 3.5 4.5 3.5 6.2.5-.1 1.1-.2 1.6-.2 1.5 0 3.1.5 4.5 1.4 1.9 1.2 3 3 3.1 5.1.1 1.4-.2 2.9-1 4.1 5 2.2 16.4 6.3 29.9 9.4-.1 1-.2 2.1-.4 3.1-16.4-3.7-28.6-8.9-31.6-10.3">
          </path>
        </g>
        <g id="g1246" transform="matrix(2.447 0 0 -2.447 186.497 28.537)">
          <path id="path1248" class="st3"
            d="M327.6-30.6c-1.3-1.7-3.2-2.6-5.6-2.6-2.4 0-4.3.9-5.6 2.6-1.3 1.7-2 4.2-2 7.4s.7 5.7 2 7.4c1.3 1.7 3.2 2.6 5.6 2.6 2.5 0 4.3-.9 5.6-2.6 1.3-1.7 2-4.2 2-7.4s-.7-5.7-2-7.4m6.7 19.4c-2.7 3.4-6.8 5.1-12.3 5.1s-9.6-1.7-12.3-5.1c-2.7-3.4-4.1-7.4-4.1-12 0-4.7 1.3-8.7 4.1-12 2.7-3.3 6.8-5 12.3-5s9.6 1.7 12.3 5c2.7 3.3 4 7.3 4 12 .1 4.6-1.3 8.6-4 12">
          </path>
        </g>
        <g id="g1250" transform="matrix(2.447 0 0 -2.447 157.711 26.828)">
          <path id="path1252" class="st3"
            d="M272.8-27.4c-.1-2.8-.9-4.7-2.4-5.8-1.5-1.1-3.2-1.6-5.1-1.6-1.2 0-2.1.3-2.9 1-.8.6-1.2 1.7-1.2 3.1 0 1.6.7 2.8 2 3.6.8.4 2.1.8 3.9 1.1l1.9.4c.9.2 1.7.4 2.2.6.6.2 1.1.5 1.6.8v-3.2zm4.3 18.3c-2.7 1.4-5.9 2.1-9.4 2.1-5.4 0-9.3-1.4-11.5-4.2-1.4-1.8-2.2-4.1-2.4-6.9h8.1c.2 1.2.6 2.2 1.2 2.9.8 1 2.3 1.5 4.3 1.5 1.8 0 3.2-.2 4.1-.8.9-.5 1.4-1.4 1.4-2.7 0-1.1-.6-1.9-1.8-2.4-.7-.3-1.8-.5-3.4-.7l-2.9-.3c-3.3-.4-5.7-1.1-7.4-2.1-3.1-1.8-4.6-4.6-4.6-8.6 0-3 .9-5.4 2.9-7.1 1.9-1.7 4.3-2.4 7.2-2.5 18.3-.8 18.1 9.7 18.3 11.8V-17c0 3.9-1.4 6.5-4.1 7.9">
          </path>
        </g>
        <g id="g1254" transform="matrix(2.447 0 0 -2.447 141.493 21.122)">
          <path id="path1256" class="st3"
            d="M241.9-16.5c2.1 0 3.6-.6 4.6-1.9.7-1 1.1-2 1.3-3.2h9c-.5 4.6-2.1 7.7-4.8 9.5-2.7 1.8-6.2 2.7-10.4 2.7-5 0-8.9-1.5-11.7-4.6-2.8-3.1-4.2-7.3-4.2-12.8 0-4.9 1.3-8.8 3.8-11.9 2.6-3.1 6.6-4.6 12-4.6s9.5 1.8 12.3 5.5c1.7 2.3 2.7 4.7 2.9 7.2h-9c-.2-1.7-.7-3.1-1.6-4.1-.9-1-2.3-1.6-4.4-1.6-2.9 0-4.9 1.3-6 4-.6 1.4-.9 3.3-.9 5.6 0 2.5.3 4.4.9 5.9 1.2 2.9 3.2 4.3 6.2 4.3">
          </path>
        </g>
        <g id="g1258" transform="matrix(2.447 0 0 -2.447 133.442 18.063)">
          <path id="path1260" class="st3"
            d="M226.6-10.7c-18.6 0-17.5-16.4-17.5-16.4v-16.7h8.4v15.7c0 2.6.3 4.5 1 5.7 1.2 2.2 3.4 3.3 6.8 3.3h1c.4 0 .9-.1 1.4-.1v8.6c-.4 0-.6 0-.7.1-.1-.2-.3-.2-.4-.2">
          </path>
        </g>
        <g id="g1262" transform="matrix(2.447 0 0 -2.447 115.171 21.834)">
          <path id="path1264" class="st3"
            d="M191.8-17.8c1.2 1.2 2.8 1.8 5 1.8 2 0 3.6-.6 5-1.7 1.3-1.2 2.1-2.8 2.2-5.1h-14.4c.2 2.1 1 3.7 2.2 5m11.3-15.7c-.4-.5-.7-.9-1.1-1.3-1.2-1-2.8-1.3-4.7-1.3-1.8 0-3.2.3-4.5 1.1-2.1 1.3-3.3 3.5-3.4 6.7h23.3c0 2.8-.1 4.9-.3 6.4-.4 2.5-1.2 4.7-2.5 6.6-1.5 2.2-3.3 3.7-5.5 4.7s-4.7 1.5-7.5 1.5c-4.7 0-8.5-1.5-11.5-4.4-2.9-3-4.4-7.2-4.4-12.8 0-5.9 1.6-10.2 4.9-12.8 3.3-2.6 7-3.9 11.3-3.9 5.2 0 9.2 1.6 12 4.7 1.6 1.6 2.5 3.3 2.9 4.9h-9z">
          </path>
        </g>
        <g id="g1266" transform="matrix(2.447 0 0 -2.447 109.013 32.384)">
          <path id="path1268" class="st3"
            d="M180.1-37.9h-7.7v19.4c0 1.8-.6 6-5.7 6-3.4 0-5.8-2.4-5.8-6v-19.4h-7.7v19.4c0 1.8-.5 6-5.6 6-3.4 0-5.8-2.4-5.8-6v-19.4H134v19.2c0 8 5.3 14 13.5 14 4.1 0 7.4-1.7 9.6-4.5 2.3 2.7 5.7 4.5 9.6 4.5 8.4 0 13.4-5.8 13.4-14v-19.2z">
          </path>
        </g>
        <g id="g1270" transform="matrix(2.447 0 0 -2.447 171.552 28.566)">
          <path id="path1272" class="st3"
            d="M299.2-30.7c-1.2-1.8-3-2.6-5.4-2.6-2.4 0-4.1.9-5.3 2.7-1.2 1.8-1.7 4.4-1.7 7.3 0 2.7.6 5 1.7 6.9 1.1 1.8 2.9 2.8 5.4 2.8 1.6 0 3-.5 4.2-1.5 2-1.7 3-4.7 3-8.6-.1-2.9-.7-5.2-1.9-7m10.1 34.5s-8.5.9-8.5-5.9v-9c-.9 1.5-2.2 2.7-3.7 3.5-1.5.9-3.2 1.3-5.2 1.3-4.2 0-7.6-1.6-10.1-4.7s-3.8-7.7-3.8-13.1c0-4.7 1.3-8.6 3.8-11.6 2.6-3 7.6-4.3 12-4.3 15.5 0 15.3 13.3 15.3 13.3l.2 30.5z">
          </path>
        </g>
        <g id="g1274" transform="matrix(2.447 0 0 -2.447 98.857 45.644)">
          <path id="path1276" class="st3"
            d="M160.7-63.2c0 3.2-.6 5.6-1.9 7.3-1.2 1.7-3 2.6-5.3 2.6-2.2 0-4-.9-5.2-2.6-1.2-1.6-1.7-4-1.7-7.3 0-3.1.6-5.4 1.9-7 1.2-1.7 3-2.6 5.3-2.6 2.1 0 3.8.9 5.1 2.6 1.2 1.8 1.8 4.1 1.8 7M146.6-86c0-1.2-.5-2.2-1.4-3-.8-.7-1.9-1.1-3-1.1h-4.1v29.3c0 5.7 1.9 9.3 5.1 11.7 2.3 1.7 5.8 3.4 12.7 3.1 3.6-.2 7-1.7 9.3-4.5 2.8-3.4 4-7.2 4-12.2 0-5.1-1.2-9.3-3.7-12.5-2.5-3.1-5.7-4.6-9.5-4.6-2.1 0-3.9.4-5.4 1.1-1.7.8-3 2.1-4 3.8V-86z">
          </path>
        </g>
        <g id="g1278" transform="matrix(2.447 0 0 -2.447 120.682 45.647)">
          <path id="path1280" class="st3"
            d="M202.3-63.2c0-5.6 1.6-8.7 4.9-9.3 3.2-.6 5.6.1 7.2 2.3.7.9 1.3 2.3 1.6 4.2.3 1.9.3 3.8.1 5.7-.3 1.9-1 3.5-2 5-1.1 1.5-2.6 2.2-4.6 2.2-2.8 0-4.6-1-5.6-3.1-1.1-2.1-1.6-4.4-1.6-7m13.8-14v2.1c-1.5-2.3-3.4-3.7-5.9-4.3-2.5-.6-4.9-.4-7.4.6-2.4 1-4.5 2.8-6.3 5.4-1.7 2.7-2.6 6.1-2.6 10.4 0 5 1.2 9.1 3.5 12.3 2.3 3.1 6 4.6 11.1 4.7 5 .1 8-1 10.8-3.2 3.1-2.4 5-6 5-11.7v-17.2c0-5.5-3.8-15.6-15.8-14.8-7.4.5-11.6 3.6-13.9 10.5h8.9c.7-1.1 1.6-2 3-2.6 1.3-.6 2.7-.8 4-.5 1.3.3 2.6 1.1 3.7 2.4 1.2 1.3 1.8 3.3 1.9 5.9">
          </path>
        </g>
        <g id="g1282" transform="matrix(2.447 0 0 -2.447 112.153 47.114)">
          <path id="path1284" class="st3"
            d="M186-66c-.1-2.8-.9-4.7-2.4-5.8-1.5-1.1-3.2-1.6-5.1-1.6-1.2 0-2.1.3-3 1-.8.6-1.2 1.7-1.2 3.1 0 1.6.7 2.8 2 3.6.8.4 2.1.8 3.9 1.1l1.9.4c1 .2 1.7.4 2.2.6.6.2 1.1.5 1.6.8V-66zm4.3 18.3c-2.7 1.4-5.9 2.1-9.4 2.1-5.4 0-9.2-1.4-11.5-4.2-1.4-1.8-2.2-4.1-2.4-6.9h8.1c.2 1.2.6 2.2 1.2 2.9.8 1 2.3 1.5 4.3 1.5 1.8 0 3.2-.2 4.1-.8.9-.5 1.4-1.4 1.4-2.7 0-1.1-.6-1.9-1.8-2.4-.7-.3-1.8-.5-3.4-.7l-2.9-.3c-3.3-.4-5.7-1.1-7.4-2.1-3.1-1.8-4.6-4.6-4.6-8.6 0-3 1-5.4 2.9-7 1.9-1.7 4.3-2.4 7.2-2.5 18.3-.8 18.1 9.7 18.3 11.8v12.1c0 3.8-1.4 6.4-4.1 7.8">
          </path>
        </g>
        <g id="g1286" transform="matrix(2.447 0 0 -2.447 141.132 48.744)">
          <path id="path1288" class="st3"
            d="M241.2-69.1c-1.3-1.7-3.2-2.6-5.6-2.6-2.4 0-4.3.9-5.6 2.6-1.3 1.7-2 4.2-2 7.4s.7 5.7 2 7.4c1.3 1.7 3.2 2.6 5.6 2.6 2.5 0 4.3-.9 5.6-2.6 1.3-1.7 2-4.2 2-7.4s-.7-5.7-2-7.4m6.7 19.4c-2.7 3.4-6.8 5.1-12.3 5.1-5.5 0-9.6-1.7-12.3-5.1-2.7-3.4-4.1-7.4-4.1-12 0-4.7 1.3-8.7 4.1-12 2.7-3.3 6.8-5 12.3-5 5.5 0 9.6 1.7 12.3 5 2.7 3.3 4 7.3 4 12 .1 4.6-1.3 8.6-4 12">
          </path>
        </g>
      </g>
    </svg>

  </span>
  <ul class="payments-list">
    <li class="payments-list__item"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="27" viewBox="0 0 40 27">
        <g id="Group_363" data-name="Group 363" transform="translate(-0.001 0)">
          <rect id="Rectangle_70" data-name="Rectangle 70" width="40" height="27" rx="1" transform="translate(0.001 0)"
            fill="#1b226f"></rect>
          <g id="Group_362" data-name="Group 362" transform="translate(2.419 7.85)">
            <g id="Group_361" data-name="Group 361">
              <path id="Path_153" data-name="Path 153" d="M63.138,1134.906l1.656-9.72h2.651l-1.658,9.72Z"
                transform="translate(-51.609 -1125.016)" fill="#fff"></path>
              <path id="Path_154" data-name="Path 154"
                d="M90.571,1124.831a6.835,6.835,0,0,0-2.375-.409c-2.619,0-4.462,1.318-4.479,3.208-.015,1.4,1.316,2.176,2.322,2.642,1.032.476,1.378.78,1.374,1.206-.008.651-.824.949-1.587.949a5.542,5.542,0,0,1-2.493-.51l-.341-.154-.372,2.176a8.374,8.374,0,0,0,2.952.519c2.786,0,4.592-1.3,4.614-3.322.01-1.1-.7-1.946-2.224-2.64-.927-.45-1.494-.75-1.488-1.206,0-.4.48-.836,1.518-.836a4.873,4.873,0,0,1,1.981.372l.239.113.359-2.106Z"
                transform="translate(-66.783 -1124.422)" fill="#fff"></path>
              <path id="Path_155" data-name="Path 155"
                d="M123.345,1125.227H121.3a1.318,1.318,0,0,0-1.388.807l-3.934,8.908h2.782s.454-1.2.557-1.461l3.394,0c.078.34.321,1.457.321,1.457h2.459l-2.145-9.715Zm-3.267,6.266c.219-.56,1.055-2.717,1.055-2.717-.015.026.218-.564.352-.928l.179.838.614,2.807Z"
                transform="translate(-92.764 -1125.049)" fill="#fff"></path>
              <path id="Path_156" data-name="Path 156"
                d="M20.307,1125.2l-2.595,6.629-.277-1.347-.928-4.468a1.107,1.107,0,0,0-1.2-.82H11.033l-.033.2a11.12,11.12,0,0,1,2.782,1.067l2.356,8.444,2.8,0,4.172-9.7Z"
                transform="translate(-11 -1125.021)" fill="#fff"></path>
            </g>
          </g>
        </g>
      </svg>
    </li>
    <li class="payments-list__item"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="27" viewBox="0 0 40 27">
        <g id="Group_365" data-name="Group 365" transform="translate(0.298 0)">
          <rect id="Rectangle_71" data-name="Rectangle 71" width="40" height="27" rx="1" transform="translate(-0.298 0)"
            fill="#ededed"></rect>
          <g id="Group_364" data-name="Group 364" transform="translate(8.078 3.359)">
            <path id="Path_157" data-name="Path 157"
              d="M273.416,1179.992v-1.262a.74.74,0,0,0-.8-.8.83.83,0,0,0-.715.358.736.736,0,0,0-.673-.358.68.68,0,0,0-.589.295v-.252H270.2v2.02h.442v-1.115c0-.358.189-.526.484-.526s.442.189.442.526v1.115h.442v-1.115a.465.465,0,0,1,.484-.526c.295,0,.442.189.442.526v1.115Zm6.542-2.02h-.715v-.61H278.8v.61h-.4v.4h.4v.926c0,.463.189.736.694.736a1.178,1.178,0,0,0,.547-.147l-.126-.379a.692.692,0,0,1-.379.105c-.21,0-.295-.126-.295-.337v-.9h.715v-.4Zm3.744-.042a.593.593,0,0,0-.526.295v-.252h-.442v2.02h.442v-1.136c0-.336.147-.526.421-.526a1.232,1.232,0,0,1,.273.042l.126-.421a1.383,1.383,0,0,0-.295-.021Zm-5.659.211a1.444,1.444,0,0,0-.821-.211c-.5,0-.841.253-.841.652,0,.337.253.526.694.589l.21.021c.231.042.358.105.358.211,0,.147-.168.252-.463.252a1.16,1.16,0,0,1-.673-.21l-.21.337a1.487,1.487,0,0,0,.862.253c.589,0,.926-.274.926-.652,0-.358-.274-.547-.694-.61l-.21-.021c-.189-.021-.337-.063-.337-.189,0-.147.147-.231.379-.231a1.519,1.519,0,0,1,.631.168l.19-.357Zm11.738-.211a.593.593,0,0,0-.526.295v-.252h-.442v2.02h.442v-1.136c0-.336.147-.526.421-.526a1.236,1.236,0,0,1,.274.042l.126-.421a1.382,1.382,0,0,0-.294-.021Zm-5.638,1.052a1.011,1.011,0,0,0,1.073,1.052,1.047,1.047,0,0,0,.715-.232l-.21-.358a.85.85,0,0,1-.526.189.6.6,0,0,1-.61-.652.62.62,0,0,1,.61-.652.849.849,0,0,1,.526.189l.21-.358a1.047,1.047,0,0,0-.715-.231,1.011,1.011,0,0,0-1.073,1.052Zm4.081,0v-1.01h-.442v.252a.76.76,0,0,0-.631-.295,1.053,1.053,0,0,0,0,2.1.708.708,0,0,0,.631-.295v.253h.442Zm-1.62,0a.611.611,0,1,1,1.22,0,.611.611,0,1,1-1.22,0Zm-5.28-1.052a1.052,1.052,0,0,0,.021,2.1,1.287,1.287,0,0,0,.821-.274l-.211-.316a1,1,0,0,1-.589.21.567.567,0,0,1-.61-.484h1.493V1179a.929.929,0,0,0-.926-1.073Zm0,.379a.492.492,0,0,1,.5.484h-1.052a.533.533,0,0,1,.547-.484Zm10.96.673v-1.809h-.442v1.052a.76.76,0,0,0-.631-.295,1.053,1.053,0,0,0,0,2.1.709.709,0,0,0,.631-.295v.253h.442Zm-1.62,0a.611.611,0,1,1,1.22,0,.611.611,0,1,1-1.22,0Zm-14.767,0v-1.01h-.442v.252a.76.76,0,0,0-.631-.295,1.053,1.053,0,0,0,0,2.1.708.708,0,0,0,.631-.295v.253h.442Zm-1.641,0a.611.611,0,1,1,1.22,0,.611.611,0,1,1-1.22,0Z"
              transform="translate(-268.957 -1161.017)"></path>
            <rect id="Rectangle_72" data-name="Rectangle 72" width="6.626" height="11.906"
              transform="translate(8.94 1.62)" fill="#ff601f"></rect>
            <path id="Path_158" data-name="Path 158"
              d="M273.946,1111.684a7.592,7.592,0,0,1,2.882-5.953,7.573,7.573,0,1,0,0,11.906A7.561,7.561,0,0,1,273.946,1111.684Z"
              transform="translate(-264.585 -1104.111)" fill="#ff0f27"></path>
            <path id="Path_159" data-name="Path 159"
              d="M332.291,1111.684a7.565,7.565,0,0,1-12.243,5.953,7.59,7.59,0,0,0,0-11.906,7.565,7.565,0,0,1,12.243,5.953Z"
              transform="translate(-307.784 -1104.111)" fill="#ff9e21"></path>
          </g>
        </g>
      </svg>
    </li>
    <li class="payments-list__item"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="27" viewBox="0 0 40 27">
        <g id="Group_367" data-name="Group 367" transform="translate(-0.287 0)">
          <rect id="Rectangle_73" data-name="Rectangle 73" width="40" height="27" rx="1" transform="translate(0.287 0)"
            fill="#ededed"></rect>
          <g id="Group_366" data-name="Group 366" transform="translate(3.419 8.577)">
            <path id="Path_160" data-name="Path 160"
              d="M481.857,1136.292a4.463,4.463,0,0,0,4.495-4.252,4.386,4.386,0,0,0-4.495-4.327h-2.022a4.236,4.236,0,0,0-4.335,4.327,4.3,4.3,0,0,0,4.335,4.252h2.022"
              transform="translate(-475.5 -1127.713)" fill="#006097"></path>
            <path id="Path_161" data-name="Path 161"
              d="M482.183,1135.567v-4.646a2.486,2.486,0,0,1,0,4.646m-3.386-2.323a2.493,2.493,0,0,1,1.6-2.323v4.645a2.492,2.492,0,0,1-1.6-2.323m2.494-3.927a3.927,3.927,0,1,0,3.935,3.927,3.931,3.931,0,0,0-3.935-3.927"
              transform="translate(-476.946 -1128.962)" fill="#fff"></path>
            <path id="Path_162" data-name="Path 162"
              d="M529.324,1133.246c0-.406-.212-.379-.416-.384v-.117c.176.009.357.009.534.009s.448-.009.782-.009a1.646,1.646,0,0,1,1.808,1.579c0,.447-.262,1.57-1.862,1.57-.23,0-.443-.009-.655-.009s-.4,0-.606.009v-.117c.271-.027.4-.036.416-.343Zm.443,2.116c0,.347.249.388.47.388a1.258,1.258,0,0,0,1.3-1.408,1.357,1.357,0,0,0-1.415-1.453c-.186,0-.271.013-.353.018Zm2.423.415h.086c.126,0,.217,0,.217-.149v-1.222c0-.2-.068-.226-.235-.316v-.072c.213-.064.466-.149.484-.162a.16.16,0,0,1,.081-.023c.022,0,.032.027.032.063v1.732c0,.149.1.149.226.149h.077v.117c-.154,0-.312-.009-.475-.009s-.326,0-.493.009Zm.484-2.639a.221.221,0,1,1,0-.443.221.221,0,0,1,.222.217A.226.226,0,0,1,532.674,1133.138Zm.913,1.295c0-.167-.05-.212-.262-.3v-.086a6.134,6.134,0,0,0,.6-.217c.013,0,.026.009.026.045v.293a1.327,1.327,0,0,1,.783-.339c.384,0,.519.28.519.632v1.164c0,.149.1.149.226.149h.081v.117c-.159,0-.317-.009-.479-.009s-.326,0-.488.009v-.117h.081c.127,0,.217,0,.217-.149v-1.168c0-.257-.157-.383-.415-.383a1.21,1.21,0,0,0-.525.217v1.335c0,.149.1.149.227.149h.081v.117c-.158,0-.317-.009-.479-.009s-.325,0-.488.009v-.117h.081c.127,0,.217,0,.217-.149Zm2.315.217a1.1,1.1,0,0,0,0,.262.754.754,0,0,0,.664.78.867.867,0,0,0,.61-.3l.063.063a1.061,1.061,0,0,1-.836.51.906.906,0,0,1-.864-.983c0-.885.6-1.146.913-1.146a.717.717,0,0,1,.764.708.563.563,0,0,1,0,.082l-.041.027Zm.8-.145c.113,0,.126-.059.126-.113a.383.383,0,0,0-.393-.415c-.276,0-.465.2-.52.528Zm.619,1.272h.122c.126,0,.217,0,.217-.149v-1.268c0-.14-.167-.167-.235-.2v-.067c.33-.14.511-.258.552-.258s.04.014.04.059v.406h.01c.113-.176.3-.465.578-.465a.246.246,0,0,1,.257.239.219.219,0,0,1-.212.23c-.141,0-.141-.109-.3-.109a.381.381,0,0,0-.33.375v1.06c0,.149.09.149.217.149h.253v.117c-.249,0-.438-.009-.633-.009s-.375,0-.538.009Zm1.74-.51a.6.6,0,0,0,.57.55.319.319,0,0,0,.366-.32c0-.532-.985-.361-.985-1.087a.621.621,0,0,1,.7-.578,1.19,1.19,0,0,1,.515.131l.032.46h-.1a.464.464,0,0,0-.493-.446.317.317,0,0,0-.352.3c0,.528,1.049.366,1.049,1.074,0,.3-.24.614-.778.614a1.19,1.19,0,0,1-.551-.153l-.05-.519Zm5.379-1.706h-.113a.86.86,0,0,0-.967-.74,1.287,1.287,0,0,0-1.275,1.43,1.471,1.471,0,0,0,1.347,1.566.919.919,0,0,0,.909-.781l.1.027-.1.659a2.537,2.537,0,0,1-1,.239,1.607,1.607,0,0,1-1.726-1.7,1.661,1.661,0,0,1,1.713-1.588,3.27,3.27,0,0,1,1.067.24Zm.163,2.215h.085c.127,0,.217,0,.217-.149v-2.513c0-.293-.068-.3-.24-.352v-.072a2.878,2.878,0,0,0,.465-.194.482.482,0,0,1,.1-.05c.028,0,.037.027.037.064v3.117c0,.149.1.149.226.149h.076v.117c-.153,0-.312-.009-.474-.009s-.325,0-.493.009Zm2.9-.131c0,.082.05.086.126.086.054,0,.122,0,.181,0v.095a4.618,4.618,0,0,0-.651.14l-.023-.014v-.365a1.219,1.219,0,0,1-.8.379.487.487,0,0,1-.5-.537v-1.155c0-.117-.018-.23-.271-.252v-.086c.163,0,.524-.031.583-.031s.05.031.05.131v1.164c0,.135,0,.523.393.523a1.01,1.01,0,0,0,.547-.275v-1.214c0-.09-.217-.139-.379-.185v-.081c.406-.027.66-.063.7-.063s.037.031.037.081Zm.9-1.489a1.143,1.143,0,0,1,.674-.325.879.879,0,0,1,.841.948,1.14,1.14,0,0,1-1.081,1.182,1.338,1.338,0,0,1-.628-.158l-.135.1-.095-.049a5.338,5.338,0,0,0,.063-.8v-1.94c0-.293-.068-.3-.24-.352v-.072a2.87,2.87,0,0,0,.466-.194.467.467,0,0,1,.1-.05c.027,0,.036.027.036.064Zm0,1.227a.486.486,0,0,0,.466.461c.484,0,.687-.474.687-.876a.861.861,0,0,0-.723-.893.7.7,0,0,0-.43.212Zm-19.5,3.133h.035c.088,0,.182-.012.182-.14v-1.286c0-.128-.093-.14-.182-.14H528.9v-.074c.1,0,.244.01.364.01s.27-.01.386-.01v.074h-.034c-.088,0-.182.012-.182.14v1.286c0,.128.094.14.182.14h.034v.074c-.118,0-.266-.01-.388-.01s-.266.01-.362.01Zm2.44-.41,0,0v-.921a.2.2,0,0,0-.214-.231h-.054v-.074c.116,0,.229.01.344.01s.2-.01.3-.01v.074h-.037c-.1,0-.219.02-.219.312v1.117a1.617,1.617,0,0,0,.015.248h-.094l-1.267-1.409v1.012c0,.213.041.287.231.287h.042v.074c-.105,0-.211-.01-.317-.01s-.224.01-.334.01v-.074h.034c.17,0,.221-.115.221-.311v-1.034a.221.221,0,0,0-.224-.221h-.032v-.074c.093,0,.189.01.282.01.074,0,.146-.01.219-.01ZM532.1,1137c-.185,0-.192.044-.229.223h-.074c.01-.069.022-.137.03-.209a1.444,1.444,0,0,0,.015-.208h.059c.02.074.081.071.148.071h1.269c.067,0,.128,0,.133-.076l.059.01c-.01.066-.02.132-.027.2s0,.133,0,.2l-.074.027c-.005-.091-.017-.236-.182-.236h-.4v1.306c0,.189.086.211.2.211h.047v.074c-.1,0-.268-.01-.4-.01-.148,0-.32.01-.416.01v-.074h.047c.136,0,.2-.012.2-.206V1137Zm1.488,1.517h.035c.088,0,.182-.012.182-.14v-1.286c0-.128-.094-.14-.182-.14h-.035v-.074c.15,0,.406.01.612.01s.463-.01.63-.01c0,.105,0,.268.005.376l-.074.02c-.012-.159-.041-.287-.3-.287h-.342v.643h.292c.147,0,.18-.083.194-.216h.074q-.007.144-.007.287t.007.28l-.074.015c-.015-.147-.022-.243-.192-.243h-.295v.572c0,.16.142.16.3.16.3,0,.425-.02.5-.3l.069.017c-.032.13-.062.26-.083.391-.158,0-.441-.01-.662-.01s-.514.01-.655.01Zm1.732-1.38c0-.179-.1-.187-.175-.187H535.1v-.074c.079,0,.231.01.381.01s.266-.01.4-.01c.31,0,.586.083.586.432a.464.464,0,0,1-.342.432l.421.628a.273.273,0,0,0,.239.147v.074c-.081,0-.16-.01-.241-.01s-.155.01-.231.01a6.8,6.8,0,0,1-.512-.8h-.162v.526c0,.189.088.2.2.2h.044v.074c-.141,0-.283-.01-.423-.01-.118,0-.234.01-.357.01v-.074h.044c.091,0,.175-.041.175-.132Zm.315.57h.12c.246,0,.379-.093.379-.383a.335.335,0,0,0-.359-.358,1.266,1.266,0,0,0-.14.01Zm2.816.4,0,0v-.921a.2.2,0,0,0-.214-.231h-.054v-.074c.116,0,.228.01.344.01s.2-.01.3-.01v.074h-.037c-.1,0-.219.02-.219.312v1.117a1.609,1.609,0,0,0,.015.248H538.5l-1.267-1.409v1.012c0,.213.042.287.231.287h.042v.074c-.105,0-.211-.01-.317-.01s-.224.01-.335.01v-.074h.034c.17,0,.222-.115.222-.311v-1.034a.22.22,0,0,0-.224-.221h-.032v-.074c.093,0,.19.01.283.01.073,0,.145-.01.219-.01Zm.78.133a.975.975,0,0,0-.055.191c0,.074.1.086.184.086h.027v.074c-.1-.005-.2-.01-.3-.01s-.176,0-.265.01v-.074h.015a.222.222,0,0,0,.214-.16l.394-1.126a2.084,2.084,0,0,0,.091-.3,1.249,1.249,0,0,0,.224-.105.053.053,0,0,1,.02-.005.017.017,0,0,1,.017.008c.007.02.014.042.022.061l.452,1.284c.029.086.059.177.091.251a.157.157,0,0,0,.163.1h.015v.074c-.111-.005-.222-.01-.339-.01s-.244,0-.369.01v-.074h.027c.056,0,.153-.01.153-.071a.791.791,0,0,0-.05-.177l-.1-.285H539.3Zm.359-1.088h-.005l-.229.695h.46Zm1.06-.152c-.184,0-.192.044-.229.223h-.074c.01-.069.022-.137.03-.209a1.471,1.471,0,0,0,.014-.208h.059c.019.074.081.071.147.071h1.269c.066,0,.128,0,.132-.076l.059.01c-.01.066-.019.132-.027.2s-.005.133-.005.2l-.074.027c0-.091-.017-.236-.182-.236h-.4v1.306c0,.189.086.211.2.211h.047v.074c-.1,0-.268-.01-.4-.01s-.32.01-.416.01v-.074h.047c.136,0,.2-.012.2-.206V1137Zm1.5,1.517h.034c.089,0,.182-.012.182-.14v-1.286c0-.128-.093-.14-.182-.14h-.034v-.074c.1,0,.243.01.364.01s.271-.01.387-.01v.074h-.034c-.089,0-.182.012-.182.14v1.286c0,.128.094.14.182.14h.034v.074c-.118,0-.266-.01-.389-.01s-.266.01-.362.01Zm1.731-1.677a.862.862,0,0,1,.942.847.9.9,0,0,1-.93.94.868.868,0,0,1-.92-.881A.894.894,0,0,1,543.876,1136.841Zm.037,1.679c.477,0,.56-.42.56-.778s-.194-.793-.6-.793c-.431,0-.558.383-.558.712C543.313,1138.1,543.514,1138.52,543.913,1138.52Zm2.563-.412,0,0v-.921a.2.2,0,0,0-.214-.231h-.053v-.074c.115,0,.228.01.344.01s.2-.01.3-.01v.074h-.037c-.1,0-.219.02-.219.312v1.117a1.578,1.578,0,0,0,.015.248h-.093l-1.267-1.409v1.012c0,.213.042.287.231.287h.042v.074c-.106,0-.211-.01-.317-.01s-.224.01-.335.01v-.074h.035c.17,0,.221-.115.221-.311v-1.034a.22.22,0,0,0-.224-.221h-.032v-.074c.094,0,.19.01.283.01.074,0,.145-.01.219-.01Zm.779.133a1.007,1.007,0,0,0-.054.191c0,.074.1.086.184.086h.027v.074c-.1-.005-.2-.01-.3-.01s-.177,0-.265.01v-.074h.014a.222.222,0,0,0,.214-.16l.394-1.126a2.008,2.008,0,0,0,.09-.3,1.247,1.247,0,0,0,.224-.105.051.051,0,0,1,.019-.005c.008,0,.012,0,.017.008s.015.042.023.061l.452,1.284c.03.086.059.177.091.251a.156.156,0,0,0,.162.1h.015v.074c-.111-.005-.222-.01-.34-.01s-.243,0-.369.01v-.074h.027c.056,0,.153-.01.153-.071a.788.788,0,0,0-.05-.177l-.1-.285h-.558Zm.359-1.088h0l-.229.695h.46Zm1.572,1.2c0,.1.068.128.147.138a1.791,1.791,0,0,0,.325-.005.351.351,0,0,0,.236-.133.557.557,0,0,0,.076-.177h.071c-.027.14-.062.278-.091.417-.216,0-.433-.01-.649-.01s-.433.01-.65.01v-.074h.034c.089,0,.185-.012.185-.164v-1.262c0-.128-.1-.14-.185-.14h-.034v-.074c.13,0,.258.01.388.01s.249-.01.374-.01v.074h-.062c-.093,0-.167,0-.167.133Z"
              transform="translate(-517.094 -1131.4)" fill="#141211"></path>
          </g>
        </g>
      </svg>
    </li>
    <li class="payments-list__item"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="27" viewBox="0 0 40 27">
        <g id="Group_369" data-name="Group 369" transform="translate(0.01 0)">
          <rect id="Rectangle_74" data-name="Rectangle 74" width="40" height="27" rx="1" transform="translate(-0.01 0)"
            fill="#0070d3"></rect>
          <g id="Group_368" data-name="Group 368" transform="translate(5.182 7.781)">
            <path id="Path_163" data-name="Path 163"
              d="M738.076,1157.066v-4.758h5.038l.541.7.558-.7H762.5v4.43a2.112,2.112,0,0,1-1.031.328H751.343l-.61-.75v.75h-2v-1.281a1.676,1.676,0,0,1-.863.179h-.68v1.1H744.17l-.54-.72-.548.72Z"
              transform="translate(-732.192 -1146.073)" fill="#fff" fill-rule="evenodd"></path>
            <path id="Path_164" data-name="Path 164"
              d="M711.468,1126.76l1.136-2.649h1.965l.645,1.484v-1.484h2.442l.384,1.072.372-1.072h10.964v.539a2.366,2.366,0,0,1,1.524-.539l3.557.012.633,1.464v-1.477h2.044l.563.841v-.841h2.063v4.758H737.7l-.539-.844v.844h-3l-.3-.75h-.807l-.3.75h-2.037a2.014,2.014,0,0,1-1.336-.528v.528h-3.071l-.609-.75v.75H714.278l-.3-.75h-.8l-.3.75h-1.4v-2.11Z"
              transform="translate(-711.468 -1124.111)" fill="#fff" fill-rule="evenodd"></path>
            <path id="Path_165" data-name="Path 165"
              d="M713.027,1126.763l-1.532,3.563h1l.283-.713h1.644l.281.713h1.02l-1.531-3.563Zm.567.829.5,1.247h-1l.5-1.247Z"
              transform="translate(-711.489 -1126.177)" fill="#0070d3" fill-rule="evenodd"></path>
            <path id="Path_166" data-name="Path 166"
              d="M731.079,1130.324v-3.563l1.418.005.825,2.3.8-2.3h1.406v3.563h-.891V1127.7l-.944,2.625h-.781l-.947-2.625v2.625Z"
              transform="translate(-726.743 -1126.175)" fill="#0070d3" fill-rule="evenodd"></path>
            <path id="Path_167" data-name="Path 167"
              d="M753.976,1130.324v-3.563h2.906v.8h-2.006v.609h1.96v.75h-1.96v.633h2.006v.773Z"
              transform="translate(-744.577 -1126.175)" fill="#0070d3" fill-rule="evenodd"></path>
            <path id="Path_168" data-name="Path 168"
              d="M769.453,1126.763v3.563h.891v-1.266h.375l1.068,1.266h1.088l-1.172-1.313a1.085,1.085,0,0,0,.977-1.094,1.152,1.152,0,0,0-1.245-1.156Zm.891.8h1.018a.409.409,0,0,1,.422.375.4.4,0,0,1-.409.375h-1.031v-.75Z"
              transform="translate(-756.631 -1126.177)" fill="#0070d3" fill-rule="evenodd"></path>
            <path id="Path_169" data-name="Path 169" d="M786.6,1130.324h-.91v-3.563h.91v3.563Z"
              transform="translate(-769.28 -1126.175)" fill="#0070d3" fill-rule="evenodd"></path>
            <path id="Path_170" data-name="Path 170"
              d="M793.489,1130.324h-.2a1.57,1.57,0,0,1-1.527-1.767,1.632,1.632,0,0,1,1.77-1.8h.984v.844H793.5a.857.857,0,0,0-.831.961.872.872,0,0,0,.961.98h.234l-.375.778Z"
              transform="translate(-774.01 -1126.175)" fill="#0070d3" fill-rule="evenodd"></path>
            <path id="Path_171" data-name="Path 171"
              d="M802.925,1126.763l-1.532,3.563h1l.283-.713h1.644l.281.713h1.02l-1.531-3.563Zm.567.829.5,1.247h-1l.5-1.247Z"
              transform="translate(-781.508 -1126.177)" fill="#0070d3" fill-rule="evenodd"></path>
            <path id="Path_172" data-name="Path 172"
              d="M820.971,1130.324v-3.563H822.1l1.446,2.238v-2.238h.891v3.563h-1.1l-1.483-2.3v2.3Z"
              transform="translate(-796.757 -1126.175)" fill="#0070d3" fill-rule="evenodd"></path>
            <path id="Path_173" data-name="Path 173"
              d="M740.832,1158.521v-3.563h2.907v.8h-2.007v.609h1.96v.75h-1.96v.633h2.007v.773Z"
              transform="translate(-734.339 -1148.137)" fill="#0070d3" fill-rule="evenodd"></path>
            <path id="Path_174" data-name="Path 174"
              d="M805.239,1158.521v-3.563h2.907v.8H806.14v.609h1.95v.75h-1.95v.633h2.006v.773Z"
              transform="translate(-784.504 -1148.137)" fill="#0070d3" fill-rule="evenodd"></path>
            <path id="Path_175" data-name="Path 175"
              d="M754.368,1158.521l1.415-1.76-1.449-1.8h1.122l.863,1.115.866-1.115h1.078l-1.43,1.781,1.418,1.782h-1.122l-.838-1.1-.818,1.1Z"
              transform="translate(-744.855 -1148.137)" fill="#0070d3" fill-rule="evenodd"></path>
            <path id="Path_176" data-name="Path 176"
              d="M772.527,1154.961v3.563h.914V1157.4h.938a1.232,1.232,0,0,0,1.395-1.239,1.173,1.173,0,0,0-1.279-1.2Zm.914.806h.987a.4.4,0,0,1,.44.41.411.411,0,0,1-.442.41h-.984v-.821Z"
              transform="translate(-759.025 -1148.139)" fill="#0070d3" fill-rule="evenodd"></path>
            <path id="Path_177" data-name="Path 177"
              d="M788.957,1154.958v3.563h.891v-1.266h.375l1.068,1.266h1.089l-1.172-1.313a1.085,1.085,0,0,0,.977-1.094,1.153,1.153,0,0,0-1.245-1.156Zm.891.8h1.018a.409.409,0,0,1,.422.375.4.4,0,0,1-.409.375h-1.032v-.75Z"
              transform="translate(-771.822 -1148.137)" fill="#0070d3" fill-rule="evenodd"></path>
            <path id="Path_178" data-name="Path 178"
              d="M819.851,1158.521v-.774h1.783c.264,0,.378-.142.378-.3s-.114-.3-.378-.3h-.806a1,1,0,0,1-1.09-1.067c0-.571.357-1.122,1.4-1.122h1.734l-.375.8H821c-.287,0-.375.151-.375.294a.31.31,0,0,0,.328.311h.844a.977.977,0,0,1,1.119,1.023,1.068,1.068,0,0,1-1.162,1.134Z"
              transform="translate(-795.797 -1148.137)" fill="#0070d3" fill-rule="evenodd"></path>
            <path id="Path_179" data-name="Path 179"
              d="M834.636,1158.521v-.774h1.707c.264,0,.378-.142.378-.3s-.114-.3-.378-.3h-.73a1,1,0,0,1-1.09-1.067c0-.571.357-1.122,1.4-1.122h1.7l-.375.8H835.78c-.287,0-.375.151-.375.294a.311.311,0,0,0,.328.311h.768a.977.977,0,0,1,1.119,1.023,1.068,1.068,0,0,1-1.162,1.134Z"
              transform="translate(-807.313 -1148.137)" fill="#0070d3" fill-rule="evenodd"></path>
          </g>
        </g>
      </svg>
    </li>
    <li class="payments-list__item"><svg xmlns="http://www.w3.org/2000/svg" width="40.222" height="27.222"
        viewBox="0 0 40.222 27.222">
        <g id="Group_373" data-name="Group 373" transform="translate(0.534 0.111)">
          <g id="Group_370" data-name="Group 370" transform="translate(0 0)">
            <rect id="Rectangle_75" data-name="Rectangle 75" width="40" height="27" rx="1"
              transform="translate(-0.424 0)" fill="#29242d" stroke="#373334" stroke-miterlimit="22.926"
              stroke-width="0.222"></rect>
          </g>
          <g id="Group_372" data-name="Group 372" transform="translate(8.073 6.982)">
            <path id="Path_180" data-name="Path 180"
              d="M957.269,1137.178a5.668,5.668,0,0,1-.334-.642,4.867,4.867,0,0,1,2.429-6.33,4.874,4.874,0,0,1,4.477.326,4.785,4.785,0,0,1,2,2.412c.061.143.115.3.167.425Zm2.918-5.082a2.412,2.412,0,0,0-1.463,2.56l4.4-1.892A2.333,2.333,0,0,0,960.187,1132.1Zm3.481,4.116,0,0-.091-.061a2.573,2.573,0,0,1-1.188.994,2.307,2.307,0,0,1-2.547-.256l-.06.092s0,0,0,0l-1.115,1.668a4.788,4.788,0,0,0,.886.486,4.839,4.839,0,0,0,5.818-1.787Z"
              transform="translate(-956.531 -1127.75)" fill="#fff"></path>
            <path id="Path_181" data-name="Path 181"
              d="M1005.943,1120.5v9.274l1.442.585-.819,1.912-1.591-.663a1.8,1.8,0,0,1-.785-.659,2.073,2.073,0,0,1-.307-1.149v-9.3Z"
              transform="translate(-993.412 -1120.496)" fill="#fff"></path>
            <g id="Group_371" data-name="Group 371" transform="translate(14.052 2.068)">
              <path id="Path_182" data-name="Path 182"
                d="M1022.3,1138.972a2.623,2.623,0,0,1,.9-1.979l-1.479-1.649a4.846,4.846,0,0,0,0,7.257l1.478-1.651A2.624,2.624,0,0,1,1022.3,1138.972Z"
                transform="translate(-1020.081 -1134.128)" fill="#00a4dd"></path>
              <path id="Path_183" data-name="Path 183"
                d="M1036.558,1156.271a2.663,2.663,0,0,1-.833-.136l-.707,2.1a4.849,4.849,0,0,0,6.289-3.618l-2.172-.444A2.631,2.631,0,0,1,1036.558,1156.271Z"
                transform="translate(-1031.715 -1148.795)" fill="#eb422e"></path>
              <path id="Path_184" data-name="Path 184"
                d="M1036.6,1129.85a4.842,4.842,0,0,0-1.536.247l.7,2.1a2.631,2.631,0,0,1,3.409,1.973l2.172-.44A4.847,4.847,0,0,0,1036.6,1129.85Z"
                transform="translate(-1031.75 -1129.85)" fill="#ffc92f"></path>
            </g>
          </g>
        </g>
      </svg>
    </li>
    <li class="payments-list__item"><svg xmlns="http://www.w3.org/2000/svg" width="40.243" height="26.934"
        viewBox="0 0 40.243 26.934">
        <g id="Group_382" data-name="Group 382" transform="translate(0)">
          <g id="Group_378" data-name="Group 378" transform="translate(0 0.4)">
            <g id="Group_377" data-name="Group 377">
              <rect id="Rectangle_77" data-name="Rectangle 77" width="39.8" height="26.534" rx="1" fill="#fff100">
              </rect>
            </g>
          </g>
          <path id="Path_185" data-name="Path 185"
            d="M1189.8,1088.615v10.441a67.032,67.032,0,0,0-21.069-3.24,68.457,68.457,0,0,0-18.734,2.516v-9.718a1.5,1.5,0,0,1,1.5-1.5H1188.3A1.5,1.5,0,0,1,1189.8,1088.615Z"
            transform="translate(-1149.56 -1087.111)" fill="#2e3091"></path>
          <g id="Group_380" data-name="Group 380" transform="translate(7.899 3.678)">
            <path id="Path_186" data-name="Path 186"
              d="M1210.068,1103.744a8.519,8.519,0,1,1-8.519,8.519,8.52,8.52,0,0,1,8.519-8.519Z"
              transform="translate(-1197.609 -1103.744)" fill="#fff100" fill-rule="evenodd"></path>
            <g id="Group_379" data-name="Group 379" transform="translate(0 14.002)">
              <path id="Path_187" data-name="Path 187"
                d="M1183.729,1171.661l3.306-4.594h1.228l3.523,4.594h-1.3l-1.005-1.391h-3.6l-.945,1.391Zm2.484-1.886h2.918l-.9-1.272a9.662,9.662,0,0,1-.611-.953,4.026,4.026,0,0,1-.463.878Z"
                transform="translate(-1183.729 -1167.066)" fill="#2e3091"></path>
              <path id="Path_188" data-name="Path 188"
                d="M1227.67,1176.119v-.489a3.15,3.15,0,0,1-1.979.563,4.5,4.5,0,0,1-1.031-.112,1.967,1.967,0,0,1-.71-.284.914.914,0,0,1-.326-.418,1.543,1.543,0,0,1-.066-.525v-2.064h1.057v1.848a1.816,1.816,0,0,0,.065.595.718.718,0,0,0,.423.349,2.183,2.183,0,0,0,.8.127,2.993,2.993,0,0,0,.893-.13,1.167,1.167,0,0,0,.59-.354,1.049,1.049,0,0,0,.173-.65v-1.784h1.057v3.329Z"
                transform="translate(-1214.751 -1171.524)" fill="#2e3091"></path>
              <path id="Path_189" data-name="Path 189"
                d="M1253.861,1175.857v-3.329h.951v.5a2.012,2.012,0,0,1,.672-.466,1.947,1.947,0,0,1,.679-.113,3.454,3.454,0,0,1,1.086.182l-.364.523a2.527,2.527,0,0,0-.775-.122,1.648,1.648,0,0,0-.622.111.771.771,0,0,0-.394.308,1.285,1.285,0,0,0-.176.658v1.743Z"
                transform="translate(-1238.353 -1171.263)" fill="#2e3091"></path>
              <path id="Path_190" data-name="Path 190"
                d="M1274.832,1175.447a5.265,5.265,0,0,1-1.131.376,5.957,5.957,0,0,1-1.165.109,3.713,3.713,0,0,1-1.58-.268q-.552-.268-.552-.685a.607.607,0,0,1,.209-.445,1.509,1.509,0,0,1,.546-.326,3.963,3.963,0,0,1,.76-.184q.311-.044.94-.085a17.526,17.526,0,0,0,1.886-.194c0-.078.005-.127.005-.148a.5.5,0,0,0-.3-.486,2.923,2.923,0,0,0-1.2-.191,3.219,3.219,0,0,0-1.1.14.949.949,0,0,0-.526.493l-1.034-.075a1.224,1.224,0,0,1,.464-.572,2.565,2.565,0,0,1,.934-.336,7.579,7.579,0,0,1,1.415-.117,6.9,6.9,0,0,1,1.3.1,2.208,2.208,0,0,1,.734.254.813.813,0,0,1,.329.384,1.734,1.734,0,0,1,.052.52v.752a4.28,4.28,0,0,0,.068,1,.968.968,0,0,0,.267.4h-1.1A.819.819,0,0,1,1274.832,1175.447Zm-.088-1.26a13.579,13.579,0,0,1-1.727.213,7.2,7.2,0,0,0-.922.113,1.012,1.012,0,0,0-.417.183.345.345,0,0,0-.147.269c0,.149.106.275.32.375a2.285,2.285,0,0,0,.937.151,3.8,3.8,0,0,0,1.087-.143,1.51,1.51,0,0,0,.7-.39.829.829,0,0,0,.171-.565Z"
                transform="translate(-1251.238 -1171.263)" fill="#2e3091"></path>
            </g>
          </g>
          <g id="Group_381" data-name="Group 381" transform="translate(0.44 8.706)">
            <path id="Path_191" data-name="Path 191"
              d="M1189.8,1129.72v4.3a67.032,67.032,0,0,0-21.069-3.239A68.463,68.463,0,0,0,1150,1133.3V1129a68.457,68.457,0,0,1,18.734-2.516A67.032,67.032,0,0,1,1189.8,1129.72Z"
              transform="translate(-1150 -1126.481)" fill="#ec1b23"></path>
          </g>
        </g>
      </svg>
    </li>
    <li class="payments-list__item"><svg id="Group_376" data-name="Group 376" xmlns="http://www.w3.org/2000/svg"
        width="39.8" height="26.534" viewBox="0 0 39.8 26.534">
        <g id="Group_374" data-name="Group 374" transform="translate(0 0)">
          <rect id="Rectangle_76" data-name="Rectangle 76" width="39.8" height="26.534" rx="1" fill="#ad1d26"></rect>
        </g>
        <g id="Group_375" data-name="Group 375" transform="translate(3.759 5.84)">
          <path id="fundo"
            d="M1405.863,1115.335h-3.346c-1.478.07-2.687.665-3.036,1.893-.182.64-.282,1.344-.424,2.007-.723,3.375-1.365,6.844-2.057,10.152h26.049c2.014,0,3.4-.426,3.77-2.024.174-.743.34-1.583.506-2.4.647-3.181,1.3-6.361,1.958-9.63Z"
            transform="translate(-1397 -1115.335)" fill="#921419" fill-rule="evenodd"></path>
          <path id="hipercard"
            d="M1415.6,1135.047c.14-.1.32-.535.114-.718a.39.39,0,0,0-.327-.049.4.4,0,0,0-.277.147c-.089.121-.17.485-.032.62S1415.515,1135.108,1415.6,1135.047Zm-1.991-.718c-.1.651-.213,1.289-.326,1.926-.727.008-1.47.036-2.171-.016.132-.624.227-1.285.359-1.91h-.784c-.28,1.591-.535,3.208-.849,4.766h.8c.125-.8.243-1.607.408-2.367a19.559,19.559,0,0,1,2.155.016c-.135.79-.3,1.551-.424,2.35h.8c.257-1.615.528-3.215.849-4.766Zm11.311,1.371a1.077,1.077,0,0,0-1.338.571c.052-.177.073-.384.114-.571h-.62c-.151,1.176-.375,2.28-.588,3.395h.7a13.315,13.315,0,0,1,.359-2.187.979.979,0,0,1,1.289-.7C1424.852,1136.019,1424.905,1135.877,1424.924,1135.7Zm.392,2.595a1.708,1.708,0,0,1-.065-.653,2.282,2.282,0,0,1,.473-1.306,1.721,1.721,0,0,1,1.665-.1c.018-.194.057-.368.082-.555a2.652,2.652,0,0,0-2.318.441,2.787,2.787,0,0,0-.555,2.318c.253.827,1.385.872,2.3.555.041-.166.062-.351.1-.522C1426.5,1138.735,1425.538,1138.87,1425.316,1138.295Zm7.883-2.579a1.072,1.072,0,0,0-1.338.522c.057-.16.061-.374.114-.538h-.62q-.251,1.748-.6,3.395h.718a7.689,7.689,0,0,1,.163-1.224c.15-.942.37-1.975,1.469-1.665C1433.138,1136.046,1433.153,1135.866,1433.2,1135.716Zm-18.313-.016c-.019,0-.018.026-.016.049-.155,1.156-.364,2.258-.588,3.346h.7c.169-1.164.362-2.3.6-3.395Zm6.17-.066a1.833,1.833,0,0,0-1.24.506,2.836,2.836,0,0,0-.587,2.056c.126,1.131,1.534,1.09,2.66.816.019-.2.067-.368.1-.555a2.238,2.238,0,0,1-1.746.114c-.36-.228-.362-.8-.245-1.306.757-.024,1.543-.019,2.3,0a2.418,2.418,0,0,0,.065-1.094C1422.2,1135.71,1421.634,1135.59,1421.056,1135.634Zm.669,1.241h-1.648a.972.972,0,0,1,.931-.816C1421.513,1136.04,1421.874,1136.245,1421.725,1136.875Zm-3.329-1.175a1.853,1.853,0,0,0-1.632.3c0,.011-.008.013-.017.014l.017-.014v0c.005-.109.044-.185.049-.294h-.6c-.252,1.674-.55,3.3-.865,4.913h.7c.1-.627.169-1.289.31-1.877.16.618,1.207.5,1.648.261C1418.915,1138.5,1419.618,1136.159,1418.4,1135.7Zm-.555,2.758c-.376.4-1.3.391-1.371-.278a3.326,3.326,0,0,1,.13-.9c.054-.3.093-.6.147-.865.37-.452,1.457-.506,1.567.245A2.492,2.492,0,0,1,1417.841,1138.458Zm17.97-4.227c-.06.527-.141,1.034-.245,1.518-1.722-.545-2.777.722-2.759,2.285a1.229,1.229,0,0,0,.245.816,1.587,1.587,0,0,0,1.73.147,1.22,1.22,0,0,0,.245-.245c.045-.057.118-.206.131-.163a3.673,3.673,0,0,0-.065.506h.637a44.445,44.445,0,0,1,.784-4.864Zm-1.567,4.488c-.473.01-.707-.282-.718-.767-.019-.849.354-1.792,1.11-1.877a1.838,1.838,0,0,1,.865.131C1435.263,1137.16,1435.349,1138.7,1434.244,1138.719Zm-6.055-3.019c-.035.194-.088.369-.131.555.414-.1,1.7-.422,1.828.131a.968.968,0,0,1-.082.522c-1.166-.111-2.117.083-2.367.914a1.031,1.031,0,0,0,.375,1.257,1.561,1.561,0,0,0,1.812-.506,2.125,2.125,0,0,0-.049.522h.6a9.347,9.347,0,0,1,.18-1.567,6.181,6.181,0,0,0,.2-1.273C1430.5,1135.359,1429.019,1135.676,1428.188,1135.7Zm1.143,2.742c-.362.354-1.377.454-1.273-.392.086-.7.852-.853,1.681-.751A2.089,2.089,0,0,1,1429.331,1138.442Z"
            transform="translate(-1407.003 -1130.053)" fill="#fff" fill-rule="evenodd"></path>
        </g>
      </svg>
    </li>
    <li class="payments-list__item"><svg id="Group_390" data-name="Group 390" xmlns="http://www.w3.org/2000/svg"
        width="39.8" height="26.578" viewBox="0 0 39.8 26.578">
        <g id="Group_388" data-name="Group 388" transform="translate(0 0)">
          <g id="Group_387" data-name="Group 387">
            <rect id="Rectangle_95" data-name="Rectangle 95" width="39.8" height="26.534" rx="1" fill="#ededed"></rect>
          </g>
        </g>
        <g id="Group_389" data-name="Group 389" transform="translate(6.352 4.967)">
          <path id="Path_198" data-name="Path 198"
            d="M31.966,1283.1l15.181-3.61a4.154,4.154,0,0,1,4.987,3.071l3.61,15.182a4.132,4.132,0,0,1-.584,3.246h-23.2l-3.068-12.9a4.154,4.154,0,0,1,3.071-4.987Z"
            transform="translate(-28.783 -1279.379)" fill="#ea7900" fill-rule="evenodd"></path>
          <path id="Path_199" data-name="Path 199"
            d="M43.031,1324.279v6.486H44.5v-2.714h2.416v2.714h1.463v-6.486H46.919v2.492H44.5v-2.492Z"
            transform="translate(-39.88 -1314.35)" fill="#fff"></path>
          <path id="Path_200" data-name="Path 200"
            d="M108.928,1334.778a3.476,3.476,0,0,0,.048-.578,2.087,2.087,0,0,0-2.1-2.348,2.357,2.357,0,0,0-2.377,2.512,2.258,2.258,0,0,0,2.512,2.4,4.647,4.647,0,0,0,1.7-.289l-.193-.991a4.151,4.151,0,0,1-1.3.192c-.683,0-1.28-.289-1.328-.895Zm-3.041-1a.96.96,0,0,1,.9-.953.85.85,0,0,1,.828.953Z"
            transform="translate(-87.758 -1320.249)" fill="#fff"></path>
          <path id="Path_201" data-name="Path 201"
            d="M126.723,1336.664h1.463v-2.387a1.725,1.725,0,0,1,.029-.327.94.94,0,0,1,1-.741,2.107,2.107,0,0,1,.395.038v-1.376a1.515,1.515,0,0,0-.308-.019,1.382,1.382,0,0,0-1.27.972h-.038l-.048-.866h-1.261c.019.4.038.857.038,1.55v3.156Z"
            transform="translate(-105.037 -1320.249)" fill="#fff"></path>
          <path id="Path_202" data-name="Path 202" d="M71.31,1323.1a.752.752,0,1,1-.752.752.752.752,0,0,1,.752-.752Z"
            transform="translate(-61.321 -1313.431)" fill="#ffea00" fill-rule="evenodd"></path>
          <path id="Path_203" data-name="Path 203"
            d="M74.4,1335.577h.734a.96.96,0,0,0,1.07-.964c0-.492-.035-1.606-.947-1.606-1.047,0-.877,1.382-.872,2.106,0,.155.01.309.014.464Zm-3.841-3.616h1.5v2.652a.874.874,0,0,0,.877.964c0-1.194,0-2.423-.041-3.616h1.257q.041.345.075.691c.593-1.187,2.464-.926,3.094.076.65,1.035.871,4-2.19,4h-.713c.007.6.008,1.2.008,1.807h-1.5c0-.578,0-1.185.008-1.807a2.128,2.128,0,0,1-2.375-2.115v-2.652Z"
            transform="translate(-61.321 -1320.258)" fill="#fff" fill-rule="evenodd"></path>
        </g>
      </svg>
    </li>
    <li class="payments-list__item"><svg id="Group_386" data-name="Group 386" xmlns="http://www.w3.org/2000/svg"
        width="39.8" height="26.534" viewBox="0 0 39.8 26.534">
        <g id="Group_383" data-name="Group 383" transform="translate(0 0)">
          <rect id="Rectangle_78" data-name="Rectangle 78" width="39.8" height="26.534" rx="1" fill="#ededed"></rect>
        </g>
        <g id="Group_385" data-name="Group 385" transform="translate(8.202 4.023)">
          <g id="Group_384" data-name="Group 384" transform="translate(2.651 13.854)">
            <path id="Path_192" data-name="Path 192"
              d="M277.132,1337.765h1.843a5.349,5.349,0,0,1,.816.045,1.206,1.206,0,0,1,.481.19,1.178,1.178,0,0,1,.353.385,1.044,1.044,0,0,1,.142.54,1.074,1.074,0,0,1-.175.594,1.087,1.087,0,0,1-.473.406,1.218,1.218,0,0,1,.648.418,1.113,1.113,0,0,1,.226.7,1.371,1.371,0,0,1-.146.612,1.237,1.237,0,0,1-.4.475,1.325,1.325,0,0,1-.625.219q-.233.025-1.122.031h-1.57Zm.931.767v1.066h.61q.543,0,.676-.015a.612.612,0,0,0,.376-.166.486.486,0,0,0,.137-.36.5.5,0,0,0-.118-.347.529.529,0,0,0-.35-.162q-.139-.016-.8-.017Zm0,1.834v1.232h.862a4.208,4.208,0,0,0,.638-.028.575.575,0,0,0,.338-.184.565.565,0,0,0,.131-.392.6.6,0,0,0-.1-.352.567.567,0,0,0-.291-.211,3.14,3.14,0,0,0-.825-.066Z"
              transform="translate(-277.132 -1337.765)" fill="#221e1f"></path>
            <path id="Path_193" data-name="Path 193"
              d="M297.2,1344.867a1.808,1.808,0,0,1,.217-.852,1.492,1.492,0,0,1,.615-.63,1.827,1.827,0,0,1,.888-.217,1.667,1.667,0,0,1,1.242.492,1.7,1.7,0,0,1,.484,1.244,1.721,1.721,0,0,1-.489,1.256,1.651,1.651,0,0,1-1.231.5,1.939,1.939,0,0,1-.876-.208,1.426,1.426,0,0,1-.634-.609A2.025,2.025,0,0,1,297.2,1344.867Zm.906.047a1.106,1.106,0,0,0,.236.761.772.772,0,0,0,1.162,0,1.124,1.124,0,0,0,.234-.768,1.1,1.1,0,0,0-.234-.754.771.771,0,0,0-1.162,0A1.107,1.107,0,0,0,298.1,1344.914Z"
              transform="translate(-292.761 -1341.973)" fill="#221e1f"></path>
            <path id="Path_194" data-name="Path 194" d="M315.916,1342.375v-4.61h.883v4.61Z"
              transform="translate(-307.34 -1337.765)" fill="#221e1f"></path>
            <path id="Path_195" data-name="Path 195"
              d="M325.035,1345.521l.88.147a1.439,1.439,0,0,1-.536.737,1.572,1.572,0,0,1-.917.253,1.492,1.492,0,0,1-1.289-.569,1.908,1.908,0,0,1-.33-1.151,1.845,1.845,0,0,1,.434-1.3,1.427,1.427,0,0,1,1.1-.471,1.484,1.484,0,0,1,1.177.492,2.178,2.178,0,0,1,.411,1.508h-2.213a.891.891,0,0,0,.213.612.67.67,0,0,0,.51.219.538.538,0,0,0,.349-.113A.7.7,0,0,0,325.035,1345.521Zm.05-.893a.851.851,0,0,0-.2-.583.639.639,0,0,0-.938.011.817.817,0,0,0-.185.573Z"
              transform="translate(-312.735 -1341.973)" fill="#221e1f"></path>
            <path id="Path_196" data-name="Path 196"
              d="M340.453,1339.356v.7h-.6v1.346a3.277,3.277,0,0,0,.018.476.189.189,0,0,0,.079.112.25.25,0,0,0,.149.044,1.127,1.127,0,0,0,.356-.085l.076.686a1.769,1.769,0,0,1-.7.132,1.117,1.117,0,0,1-.431-.08.635.635,0,0,1-.282-.208.823.823,0,0,1-.124-.344,4.391,4.391,0,0,1-.028-.622v-1.456h-.406v-.7h.406v-.664l.887-.516v1.18Z"
              transform="translate(-324.975 -1338.085)" fill="#221e1f"></path>
            <path id="Path_197" data-name="Path 197"
              d="M348.982,1344.867a1.807,1.807,0,0,1,.217-.852,1.493,1.493,0,0,1,.614-.63,1.83,1.83,0,0,1,.889-.217,1.668,1.668,0,0,1,1.242.492,1.7,1.7,0,0,1,.484,1.244,1.72,1.72,0,0,1-.489,1.256,1.652,1.652,0,0,1-1.232.5,1.935,1.935,0,0,1-.875-.208,1.42,1.42,0,0,1-.634-.609A2.025,2.025,0,0,1,348.982,1344.867Zm.906.047a1.108,1.108,0,0,0,.236.761.772.772,0,0,0,1.162,0,1.125,1.125,0,0,0,.234-.768,1.1,1.1,0,0,0-.234-.754.772.772,0,0,0-1.162,0A1.109,1.109,0,0,0,349.888,1344.914Z"
              transform="translate(-333.094 -1341.973)" fill="#221e1f"></path>
          </g>
          <rect id="Rectangle_79" data-name="Rectangle 79" width="0.532" height="18.574" fill="#221e1f"></rect>
          <rect id="Rectangle_80" data-name="Rectangle 80" width="0.533" height="18.574" transform="translate(23.727)"
            fill="#221e1f"></rect>
          <rect id="Rectangle_81" data-name="Rectangle 81" width="0.532" height="12.175" transform="translate(22.75)"
            fill="#221e1f"></rect>
          <rect id="Rectangle_82" data-name="Rectangle 82" width="1.531" height="12.175" transform="translate(20.559)"
            fill="#221e1f"></rect>
          <rect id="Rectangle_83" data-name="Rectangle 83" width="0.533" height="12.175" transform="translate(17.861)"
            fill="#221e1f"></rect>
          <rect id="Rectangle_84" data-name="Rectangle 84" width="1.864" height="12.175" transform="translate(15.416)"
            fill="#221e1f"></rect>
          <rect id="Rectangle_85" data-name="Rectangle 85" width="0.533" height="12.175" transform="translate(13.507)"
            fill="#221e1f"></rect>
          <rect id="Rectangle_86" data-name="Rectangle 86" width="1.568" height="12.175" transform="translate(11.548)"
            fill="#221e1f"></rect>
          <rect id="Rectangle_87" data-name="Rectangle 87" width="0.8" height="12.175" transform="translate(1.287)"
            fill="#221e1f"></rect>
          <rect id="Rectangle_88" data-name="Rectangle 88" width="0.533" height="12.175" transform="translate(2.754)"
            fill="#221e1f"></rect>
          <rect id="Rectangle_89" data-name="Rectangle 89" width="0.533" height="12.175" transform="translate(4.443)"
            fill="#221e1f"></rect>
          <rect id="Rectangle_90" data-name="Rectangle 90" width="0.533" height="12.175" transform="translate(9.508)"
            fill="#221e1f"></rect>
          <rect id="Rectangle_91" data-name="Rectangle 91" width="0.533" height="12.175" transform="translate(8.264)"
            fill="#221e1f"></rect>
          <rect id="Rectangle_92" data-name="Rectangle 92" width="1.661" height="12.175" transform="translate(5.587)"
            fill="#221e1f"></rect>
          <rect id="Rectangle_93" data-name="Rectangle 93" width="0.733" height="12.175" transform="translate(19.538)"
            fill="#221e1f"></rect>
        </g>
      </svg>
    </li>
    <li class="payments-list__item"><svg id="Group_526" data-name="Group 526" xmlns="http://www.w3.org/2000/svg"
        width="39.8" height="26.534" viewBox="0 0 39.8 26.534">
        <rect id="Rectangle_94" data-name="Rectangle 94" width="39.8" height="26.534" rx="1" transform="translate(0)"
          fill="#ea701f"></rect>
        <g id="Group_391" data-name="Group 391" transform="translate(8.919 2.338)">
          <path id="Path_204" data-name="Path 204"
            d="M504.394,1267.488l13.944.008a4,4,0,0,1,3.984,4v13.944a4.01,4.01,0,0,1-4,3.992l-13.953-.008a4.015,4.015,0,0,1-3.992-4l.016-13.945a4,4,0,0,1,4-3.992Z"
            transform="translate(-500.377 -1267.488)" fill="#001780" fill-rule="evenodd"></path>
          <path id="Path_205" data-name="Path 205"
            d="M570.66,1312.755h-1.59l-.656,1.246h1.115l1.131-1.246Zm1.057,2.025h-1.549v3.345a1.173,1.173,0,0,1-1.2,1.32c-.484,0-1.016-.181-1.008-1.074v-3.591h-1.549l-.008,3.812a1.881,1.881,0,0,0,2.008,2.131,1.935,1.935,0,0,0,1.8-.967h.016v.812h1.492v-5.788Z"
            transform="translate(-551.805 -1302.745)" fill="#fe0" fill-rule="evenodd"></path>
          <path id="Path_206" data-name="Path 206"
            d="M542.706,1322.9c0-1.435-1.508-1.689-2.345-1.689-1.205,0-2.459.254-2.648,2.025h1.5a.839.839,0,0,1,.959-.8c.4,0,1.025.033,1.025.672,0,.328-.3.426-.549.459l-1.394.2a1.79,1.79,0,0,0-1.73,1.853,1.648,1.648,0,0,0,1.8,1.689,2.407,2.407,0,0,0,1.91-.836,2.5,2.5,0,0,0,.147.68l1.336-.008c0-.639-.008-1.106-.008-1.115V1322.9Z"
            transform="translate(-529.311 -1309.329)" fill="#fe0" fill-rule="evenodd"></path>
          <path id="Path_207" data-name="Path 207"
            d="M522.787,1312.755h-1.549v2.017h-.8v1.09h.8v3.517c0,.746.238,1.254,1.582,1.254h.2c.246,0,.492-.016.73-.025v-1.156c-.107.008-.221.025-.32.025-.631,0-.648-.131-.648-.475l.008-3.14h.967v-1.09h-.967v-2.017Z"
            transform="translate(-515.999 -1302.745)" fill="#fe0" fill-rule="evenodd"></path>
          <path id="Path_208" data-name="Path 208" d="M511.289,1312.718h-1.672l-.008,7.813h1.672l.008-7.812Z"
            transform="translate(-507.567 -1302.716)" fill="#fe0" fill-rule="evenodd"></path>
          <path id="Path_209" data-name="Path 209"
            d="M546.684,1336.078v-.746a2.216,2.216,0,0,1-1.058.312c-.582.1-1.057.246-1.057.877a.68.68,0,0,0,.721.7,1.284,1.284,0,0,0,1.394-1.14Z"
            transform="translate(-534.797 -1320.33)" fill="#001780" fill-rule="evenodd"></path>
        </g>
      </svg>
    </li>
    <li class="payments-list__item"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        width="40.237" height="26.219" viewBox="0 0 40.237 26.219">
        <defs>
          <radialGradient id="radial-gradient" cx="0.5" cy="0.5" r="0.506"
            gradientTransform="translate(0.005) scale(0.978 1)" gradientUnits="objectBoundingBox">
            <stop offset="0.006" stop-color="#fdf5eb"></stop>
            <stop offset="0.1" stop-color="#fcf0e2"></stop>
            <stop offset="0.255" stop-color="#fae3c9"></stop>
            <stop offset="0.45" stop-color="#f6cfa1"></stop>
            <stop offset="0.678" stop-color="#f1b36a"></stop>
            <stop offset="0.931" stop-color="#eb8f25"></stop>
            <stop offset="1" stop-color="#ea8511"></stop>
          </radialGradient>
        </defs>
        <g id="Group_393" data-name="Group 393" transform="translate(0 -0.359)">
          <rect id="Rectangle_96" data-name="Rectangle 96" width="40" height="26" rx="1" transform="translate(0 0.359)"
            fill="#ededed"></rect>
          <path id="Path_210" data-name="Path 210"
            d="M756.486,1324.531v10.123a1.5,1.5,0,0,1-1.5,1.5H724.26C745.105,1332.562,756.486,1324.531,756.486,1324.531Z"
            transform="translate(-716.249 -1309.58)" fill="#eb8611"></path>
          <g id="Group_392" data-name="Group 392" transform="translate(4.235 9.109)">
            <path id="Path_211" data-name="Path 211"
              d="M773.485,1298.2a2.65,2.65,0,0,0-2.7,2.6,2.695,2.695,0,1,0,2.7-2.6Z"
              transform="translate(-756.723 -1298.179)" fill="url(#radial-gradient)"></path>
            <path id="Path_212" data-name="Path 212"
              d="M708.632,1298.627h-1.45v5.057h1.443a2.637,2.637,0,0,0,1.8-.584,2.543,2.543,0,0,0,.918-1.943A2.512,2.512,0,0,0,708.632,1298.627Zm1.153,3.8a1.868,1.868,0,0,1-1.351.4h-.265v-3.345h.265a1.831,1.831,0,0,1,1.351.409,1.7,1.7,0,0,1,.545,1.258A1.73,1.73,0,0,1,709.785,1302.425Z"
              transform="translate(-707.182 -1298.513)" fill="#000a13"></path>
            <rect id="Rectangle_97" data-name="Rectangle 97" width="0.985" height="5.057"
              transform="translate(4.62 0.114)" fill="#000a13"></rect>
            <path id="Path_213" data-name="Path 213"
              d="M736.256,1300.269c-.592-.219-.767-.364-.767-.636,0-.319.31-.561.736-.561a1.026,1.026,0,0,1,.8.409l.515-.674a2.209,2.209,0,0,0-1.487-.562,1.486,1.486,0,0,0-1.577,1.448c0,.7.318,1.054,1.244,1.389a3.783,3.783,0,0,1,.682.288.6.6,0,0,1,.3.522.721.721,0,0,1-.767.713,1.167,1.167,0,0,1-1.077-.675l-.636.615a1.967,1.967,0,0,0,1.752.963,1.632,1.632,0,0,0,1.744-1.661C737.712,1301.044,737.379,1300.679,736.256,1300.269Z"
              transform="translate(-728.238 -1298.215)" fill="#000a13"></path>
            <path id="Path_214" data-name="Path 214"
              d="M751.43,1300.756a2.62,2.62,0,0,0,2.67,2.64,2.721,2.721,0,0,0,1.237-.3v-1.161a1.578,1.578,0,0,1-1.192.553,1.653,1.653,0,0,1-1.7-1.745,1.681,1.681,0,0,1,1.654-1.736,1.651,1.651,0,0,1,1.237.569v-1.161a2.521,2.521,0,0,0-1.214-.309A2.659,2.659,0,0,0,751.43,1300.756Z"
              transform="translate(-741.646 -1298.111)" fill="#000a13"></path>
            <path id="Path_215" data-name="Path 215"
              d="M796.7,1302.024l-1.35-3.4h-1.077l2.147,5.187h.531l2.185-5.187h-1.069Z"
              transform="translate(-775.011 -1298.513)" fill="#000a13"></path>
            <path id="Path_216" data-name="Path 216"
              d="M818.283,1303.684h2.8v-.856h-1.812v-1.366h1.743v-.856h-1.743v-1.123h1.812v-.856h-2.8Z"
              transform="translate(-793.716 -1298.513)" fill="#000a13"></path>
            <path id="Path_217" data-name="Path 217"
              d="M837.136,1300.12c0-.947-.651-1.493-1.79-1.493h-1.464v5.057h.987v-2.033H835l1.365,2.033h1.213l-1.594-2.13A1.346,1.346,0,0,0,837.136,1300.12Zm-1.979.835h-.287v-1.533h.3c.616,0,.949.259.949.751C836.122,1300.681,835.788,1300.955,835.157,1300.955Z"
              transform="translate(-805.867 -1298.513)" fill="#000a13"></path>
            <path id="Path_218" data-name="Path 218"
              d="M850.646,1299.849c0-.089-.059-.137-.168-.137h-.144v.445h.105v-.173l.125.173h.132l-.148-.184A.122.122,0,0,0,850.646,1299.849Zm-.186.061h-.02v-.116h.021c.052,0,.079.019.079.057S850.513,1299.909,850.46,1299.909Z"
              transform="translate(-818.681 -1299.358)" fill="#1d120e"></path>
            <path id="Path_219" data-name="Path 219"
              d="M849.71,1298.954a.389.389,0,1,0,.384.389A.388.388,0,0,0,849.71,1298.954Zm0,.708a.319.319,0,1,1,.306-.319A.315.315,0,0,1,849.709,1299.663Z"
              transform="translate(-817.891 -1298.768)" fill="#1d120e"></path>
            <path id="Path_220" data-name="Path 220"
              d="M747.166,1327.51l1.32,1.382v-1.31h.189v1.768l-1.319-1.379v1.3h-.189Z"
              transform="translate(-738.325 -1321.009)" fill="#1d120e"></path>
            <path id="Path_221" data-name="Path 221"
              d="M747.087,1327.353v1.782h.224v-1.278l1.319,1.38v-1.83h-.223v1.284l-1.319-1.383Zm.035.044,1.32,1.383v-1.338h.152v1.708l-1.319-1.381v1.33h-.154Z"
              transform="translate(-738.263 -1320.853)" fill="#1d120e"></path>
            <path id="Path_222" data-name="Path 222"
              d="M758.121,1327.836H759v.175h-.689v.5h.669v.175h-.669v.664H759v.175h-.877Z"
              transform="translate(-746.857 -1321.263)" fill="#1d120e"></path>
            <path id="Path_223" data-name="Path 223"
              d="M758.934,1327.756h-.895v1.728h.913v-.211h-.689v-.63h.668v-.209h-.668v-.467h.689v-.211Zm-.017.034v.14h-.689v.538h.668v.139h-.668v.7h.689v.14h-.842v-1.658Z"
              transform="translate(-746.793 -1321.201)" fill="#1d120e"></path>
            <path id="Path_224" data-name="Path 224" d="M766,1329.528h-.189v-1.517h-.408v-.175h1.01v.175H766Z"
              transform="translate(-752.533 -1321.263)" fill="#1d120e"></path>
            <path id="Path_225" data-name="Path 225"
              d="M766.351,1327.756h-1.028v.211h.409v1.516h.224v-1.516h.413v-.211Zm-.018.034v.14h-.413v1.517h-.154v-1.517h-.408v-.14Z"
              transform="translate(-752.467 -1321.201)" fill="#1d120e"></path>
            <path id="Path_226" data-name="Path 226"
              d="M773.395,1328.793l.548-1.356.547,1.356.444-1.268h.205l-.649,1.779-.547-1.363-.548,1.363-.648-1.779h.2Z"
              transform="translate(-758.249 -1320.952)" fill="#1d120e"></path>
            <path id="Path_227" data-name="Path 227"
              d="M773.836,1327.266l-.531,1.313-.433-1.236h-.241l.673,1.848.548-1.365c.031.078.548,1.365.548,1.365l.673-1.848h-.242l-.433,1.236-.546-1.353Zm-.516,1.369.532-1.314.548,1.358.456-1.3h.167c-.016.045-.594,1.632-.625,1.713l-.546-1.361-.547,1.361c-.029-.082-.607-1.668-.624-1.713h.166l.456,1.3Z"
              transform="translate(-758.159 -1320.788)" fill="#1d120e"></path>
            <path id="Path_228" data-name="Path 228"
              d="M788.374,1328.581a.882.882,0,1,1-.882-.877A.878.878,0,0,1,788.374,1328.581Zm-1.576,0a.693.693,0,1,0,.694-.7A.7.7,0,0,0,786.8,1328.579Z"
              transform="translate(-769.047 -1321.16)" fill="#1d120e"></path>
            <path id="Path_229" data-name="Path 229"
              d="M786.529,1328.519a.9.9,0,1,0,.9-.894A.9.9,0,0,0,786.529,1328.519Zm.035,0a.865.865,0,1,1,.865.856A.863.863,0,0,1,786.564,1328.519Z"
              transform="translate(-768.984 -1321.099)" fill="#1d120e"></path>
            <path id="Path_230" data-name="Path 230"
              d="M787.379,1329.134a.711.711,0,1,0,.712-.718A.715.715,0,0,0,787.379,1329.134Zm.036,0a.676.676,0,1,1,.676.683A.68.68,0,0,1,787.415,1329.134Z"
              transform="translate(-769.646 -1321.715)" fill="#1d120e"></path>
            <path id="Path_231" data-name="Path 231"
              d="M798.471,1329.528h-.188v-1.692h.245c.321,0,.619.086.619.467a.441.441,0,0,1-.424.467l.538.759h-.231l-.511-.743h-.048Zm0-.909h.058c.213,0,.429-.04.429-.3s-.2-.305-.431-.305h-.056Z"
              transform="translate(-778.138 -1321.263)" fill="#1d120e"></path>
            <path id="Path_232" data-name="Path 232"
              d="M798.221,1327.756H798.2v1.728h.224v-.743h.029c0,.013.5.735.5.735l.245.008h.035s-.516-.727-.543-.766a.456.456,0,0,0,.412-.477c0-.327-.208-.484-.636-.484Zm.245.034c.41,0,.6.143.6.45a.426.426,0,0,1-.408.449l-.031,0,.538.755h-.2c0-.013-.5-.735-.5-.735l-.061-.008h-.018v.743h-.153v-1.658Z"
              transform="translate(-778.076 -1321.201)" fill="#1d120e"></path>
            <path id="Path_233" data-name="Path 233"
              d="M799.072,1328.546h-.018v.643h.076c.208,0,.446-.036.446-.32s-.232-.323-.448-.323Zm.056.036c.217,0,.413.021.413.286s-.207.285-.411.285h-.04v-.571Z"
              transform="translate(-778.739 -1321.816)" fill="#1d120e"></path>
            <path id="Path_234" data-name="Path 234"
              d="M807.228,1327.836h.253l-.794.788.821.9h-.26l-.694-.776-.047.046v.73h-.189v-1.692h.189v.725Z"
              transform="translate(-784.397 -1321.263)" fill="#1d120e"></path>
            <path id="Path_235" data-name="Path 235"
              d="M807.423,1327.756h-.26s-.641.644-.7.7v-.7h-.224v1.728h.224v-.745s.016-.013.028-.024l.682.763.273.006h.04s-.815-.9-.838-.921l.813-.807Zm-.043.034c-.056.057-.776.771-.776.771l.806.887h-.221c0-.009-.681-.771-.681-.771l-.012-.014-.061.06s0,.691,0,.725h-.153v-1.658h.153v.751l.745-.751Z"
              transform="translate(-784.338 -1321.201)" fill="#1d120e"></path>
          </g>
        </g>
      </svg>
    </li>
    <li class="payments-list__item"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        width="40" height="26" viewBox="0 0 40 26">
        <defs>
          <linearGradient id="linear-gradient" x1="-29.412" y1="-165.896" x2="-29.293" y2="-165.896"
            gradientUnits="objectBoundingBox">
            <stop offset="0" stop-color="#00793c"></stop>
            <stop offset="0.228" stop-color="#00863a"></stop>
            <stop offset="0.743" stop-color="#00a62f"></stop>
            <stop offset="1" stop-color="#00b427"></stop>
          </linearGradient>
          <linearGradient id="linear-gradient-2" x1="-10.071" y1="-13.238" x2="-10.057" y2="-13.238"
            xlink:href="#linear-gradient"></linearGradient>
          <linearGradient id="linear-gradient-3" x1="-32.048" y1="-180.537" x2="-31.905" y2="-180.537"
            xlink:href="#linear-gradient"></linearGradient>
          <linearGradient id="linear-gradient-4" x1="-7.795" y1="-13.25" x2="-7.781" y2="-13.25"
            gradientUnits="objectBoundingBox">
            <stop offset="0" stop-color="#152670"></stop>
            <stop offset="0.475" stop-color="#004f94"></stop>
            <stop offset="0.826" stop-color="#0068b1"></stop>
            <stop offset="1" stop-color="#0071bc"></stop>
          </linearGradient>
          <linearGradient id="linear-gradient-5" x1="-8.935" y1="-13.226" x2="-8.921" y2="-13.226"
            gradientUnits="objectBoundingBox">
            <stop offset="0" stop-color="#7b292d"></stop>
            <stop offset="0.174" stop-color="#9c2430"></stop>
            <stop offset="0.573" stop-color="#da1836"></stop>
            <stop offset="0.858" stop-color="#fc0f3b"></stop>
            <stop offset="1" stop-color="#ff103f"></stop>
          </linearGradient>
        </defs>
        <g id="Group_395" data-name="Group 395" transform="translate(0.299 -0.359)">
          <rect id="Rectangle_98" data-name="Rectangle 98" width="40" height="26" rx="1"
            transform="translate(-0.299 0.359)" fill="#ededed"></rect>
          <g id="Group_394" data-name="Group 394" transform="translate(6.402 2.918)">
            <path id="Path_236" data-name="Path 236"
              d="M975.963,1286.706a4.2,4.2,0,0,1-4.19,4.19h-22.8v-16.6a4.2,4.2,0,0,1,4.19-4.19h22.8Z"
              transform="translate(-948.975 -1270.111)" fill="#fff"></path>
            <path id="Path_237" data-name="Path 237"
              d="M1037.454,1320.336h1.732c.05,0,.165-.017.214-.017a.772.772,0,0,0,.61-.775.8.8,0,0,0-.61-.775.865.865,0,0,0-.214-.017h-1.732Z"
              transform="translate(-1017.889 -1307.996)" fill="url(#linear-gradient)"></path>
            <path id="Path_238" data-name="Path 238"
              d="M1033.759,1276.452a3,3,0,0,0-3,3v3.118H1035a1.709,1.709,0,0,1,.3.016c.957.05,1.666.544,1.666,1.4a1.4,1.4,0,0,1-1.369,1.369v.033c.973.066,1.716.61,1.716,1.452,0,.907-.825,1.5-1.914,1.5h-4.652v6.1h4.4a3,3,0,0,0,3-3v-15Z"
              transform="translate(-1012.66 -1275.05)" fill="url(#linear-gradient-2)"></path>
            <path id="Path_239" data-name="Path 239"
              d="M1039.8,1308.884a.7.7,0,0,0-.61-.709c-.033,0-.115-.017-.165-.017h-1.567v1.452h1.567a.463.463,0,0,0,.165-.016.7.7,0,0,0,.61-.709Z"
              transform="translate(-1017.889 -1299.745)" fill="url(#linear-gradient-3)"></path>
            <path id="Path_240" data-name="Path 240"
              d="M958.708,1276.452a3,3,0,0,0-3,3v7.407a5.938,5.938,0,0,0,2.59.676,1.437,1.437,0,0,0,1.6-1.485v-3.5h2.573v3.481c0,1.353-.841,2.458-3.7,2.458a12.659,12.659,0,0,1-3.085-.38v6.318h4.4a3,3,0,0,0,3-3v-14.979Z"
              transform="translate(-954.204 -1275.05)" fill="url(#linear-gradient-4)"></path>
            <path id="Path_241" data-name="Path 241"
              d="M996.291,1276.452a3,3,0,0,0-3,3v3.926c.759-.643,2.079-1.056,4.207-.957a13.374,13.374,0,0,1,2.359.363v1.27a5.712,5.712,0,0,0-2.276-.66c-1.617-.115-2.59.676-2.59,2.062,0,1.4.973,2.194,2.59,2.062a6,6,0,0,0,2.276-.66v1.27a13.05,13.05,0,0,1-2.359.363c-2.128.1-3.448-.313-4.207-.957v6.929h4.4a3,3,0,0,0,3-3v-15.012Z"
              transform="translate(-983.49 -1275.05)" fill="url(#linear-gradient-5)"></path>
          </g>
        </g>
      </svg>
    </li>
    <li class="payments-list__item"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="26" viewBox="0 0 40 26">
        <g id="Group_397" data-name="Group 397" transform="translate(-0.287 -0.359)">
          <rect id="Rectangle_99" data-name="Rectangle 99" width="40" height="26" rx="1"
            transform="translate(0.287 0.359)" fill="#c91134"></rect>
          <g id="Group_396" data-name="Group 396" transform="translate(10.833 4.259)">
            <path id="Path_242" data-name="Path 242"
              d="M1205.991,1280.049a21.247,21.247,0,0,0-3.509.3,6.665,6.665,0,0,1,5.263-2.553,6.8,6.8,0,0,1,4.216,1.479c.192.16.339.174.486.029s.133-.29-.029-.478a7.436,7.436,0,0,0-12.65,2.147,13.386,13.386,0,0,0-2.536,1.059c-.206.116-.28.261-.206.435a.323.323,0,0,0,.428.159c.649-.188,1.312-.348,2.005-.493a5.674,5.674,0,0,0-.118,1.131,7.305,7.305,0,0,0,3.391,6.266c.207.131.383.131.5-.029s.1-.3-.074-.464a6.391,6.391,0,0,1-2.064-4.714,6.223,6.223,0,0,1,.516-2.509c.693-.058,1.445-.1,2.271-.1,5.366,0,9.892,1.77,9.892,4.091,0,1.175-1.489,2.35-3.258,3.133-.427.189-.472.319-.413.508s.251.232.472.159c3.1-1.015,5.44-2.683,5.44-4.7C1216.017,1282.166,1211.594,1280.049,1205.991,1280.049Z"
              transform="translate(-1197 -1276.174)" fill="#fff"></path>
            <path id="Path_243" data-name="Path 243"
              d="M1242.6,1335.193v-5.873a.248.248,0,0,0-.4-.205l-1.493.859v5.5l1.6,0A.285.285,0,0,0,1242.6,1335.193Z"
              transform="translate(-1231.042 -1317.375)" fill="#fff"></path>
            <path id="Path_244" data-name="Path 244"
              d="M1232.486,1335.432v4.062a.184.184,0,0,0,.184.184h1.13v-5.215l-1.128.649A.347.347,0,0,0,1232.486,1335.432Z"
              transform="translate(-1224.639 -1321.573)" fill="#fff"></path>
          </g>
        </g>
      </svg>
    </li>
    <li class="payments-list__item"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="26" viewBox="0 0 40 26">
        <g id="Group_399" data-name="Group 399" transform="translate(0.01 -0.359)">
          <rect id="Rectangle_100" data-name="Rectangle 100" width="40" height="26" rx="1"
            transform="translate(-0.01 0.359)" fill="#f2fd45"></rect>
          <g id="Group_398" data-name="Group 398" transform="translate(10.854 4.245)">
            <path id="Path_245" data-name="Path 245"
              d="M1443.507,1278.594l1.855,1.27,1.814-1.213,0-2.492-3.673,2.434Zm-10.723,13.2-1.848-1.26-1.85,1.262v2.442l3.7-2.444Zm7.018-10.778,1.811,1.218-8.605,5.822,5.318,3.589,2.5-1.692-1.94-1.285,4.477-3,3.746,2.485-9.05,6.033-8.93-5.991,10.676-7.179Zm-3.39,8.26-1.811-1.218,8.6-5.822-5.317-3.589-2.5,1.692,1.94,1.285-4.477,3-3.746-2.485,9.018-6.033,8.953,6.017-10.668,7.152Z"
              transform="translate(-1429.086 -1276.111)" fill="#344f9e" fill-rule="evenodd"></path>
          </g>
        </g>
      </svg>
    </li>
    <li><img src="https://i.postimg.cc/bwc373W3/Pix.webp" alt="pix" style="width=" 40"="" height="26" "="" loading="
        lazy"></li>

  </ul>

  <span></span>
</div>